{"swagger":"2.0","info":{"description":"L'ensemble des services de l'ouverture de compte-titres. Actuellement, le scénario 1 est présent seulement. Dans ce cas, le dossier et la signature sont gérés par le distributeur. Le distributeur communique à la banque le projet d'ouverture de compte-titres complet avec le dossier signé et les pièces justificatives nécessaires","version":"1.0","title":"Les services de l'Ouverture de compte-titres","license":{}},"host":"hub-demo.intencial.fr","basePath":"/","tags":[{"name":"L'ensemble des services d'Ouverture de compte-titres","description":"Projet Compte Titres Controller"},{"name":"Scénario 1 : le bulletin et la signature sont gérés par le distributeur"}],"paths":{"/projetcomptetitres/":{"post":{"tags":["Scénario 1 : le bulletin et la signature sont gérés par le distributeur","L'ensemble des services d'Ouverture de compte-titres"],"summary":"Créer un projet d'ouverture de compte-titres complet","description":"Le service crée un projet d'ouverture de compte-titres complet avec le bulletin de souscription signé et les pièces justificatives.\nNB : Non testable dans cette interface. Utiliser un client REST comme Postman.","operationId":"creerUnProjetCompletUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"projet","in":"query","description":"projet","required":false,"type":"string"},{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReponseProjet"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/projetcomptetitres/{id}":{"get":{"tags":["Scénario 1 : le bulletin et la signature sont gérés par le distributeur","L'ensemble des services d'Ouverture de compte-titres"],"summary":"Récupérer toutes les informations d'un projet d'ouverture de compte-titres","description":"Le service récupère toutes les informations d'un projet d'ouverture de compte-titres : la connaissance client, le profil financier de l'ouverture de compte-titres, le bulletin d'ouverture de compte-titres et les pièces justificatives.","operationId":"recupererUnProjetUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"L'identifiant du projet d'ouverture de compte-titres","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RecuperationProjetOuvertureCompteTitres"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}},"delete":{"tags":["Scénario 1 : le bulletin et la signature sont gérés par le distributeur","L'ensemble des services d'Ouverture de compte-titres"],"summary":"Supprimer logiquement le projet d'ouverture de compte-titres","description":"Le service permet de supprimer logiquement le projet d'ouverture de compte-titres","operationId":"supprimerUnProjetUsingDELETE","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"L''identifiant du projet d'ouverture de compte-titres à supprimer","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}}},"definitions":{"Adresse":{"type":"object","required":["adressePrincipale","codePostal","pays","ville"],"properties":{"adresseComplementaire":{"type":"string","example":"01090 FRANCHELEINS","description":"Adresse complémentaire","allowEmptyValue":false},"adressePrincipale":{"type":"string","example":"01090 FRANCHELEINS","description":"Adresse principale","allowEmptyValue":false},"codePostal":{"type":"string","example":"00001","description":"Code postal","allowEmptyValue":false,"minLength":1,"maxLength":10},"pays":{"$ref":"#/definitions/Pays"},"ville":{"$ref":"#/definitions/VilleAdresse"}},"title":"Adresse"},"Beneficiaire":{"type":"object","required":["etatCivil","partDetention"],"properties":{"etatCivil":{"$ref":"#/definitions/EtatCivilBeneficiaire"},"fonction":{"type":"string","example":"Software Craftman","description":"Fonction du beneficiaire","allowEmptyValue":false,"minLength":0,"maxLength":150},"informationsPPE":{"$ref":"#/definitions/InformationsPPE"},"informationslienPPE":{"$ref":"#/definitions/LienPPE"},"obligationFiscales":{"type":"array","items":{"$ref":"#/definitions/ObligationFiscale"}},"partDetention":{"type":"number","example":99.0,"description":"Part de detention d'un bénéficiaire","allowEmptyValue":false,"maximum":100.0,"exclusiveMaximum":false},"reponsesQuestionsFiscales":{"type":"array","items":{"$ref":"#/definitions/ReponsesQuestionsFiscales"}}},"title":"Beneficiaire","description":"Beneficiaire d'une part"},"CapaciteEpargne":{"type":"object","properties":{"montant":{"type":"number","example":900.0,"description":"Montant de capacite d'epargne","allowEmptyValue":false}},"title":"CapaciteEpargne"},"CategorieSocioProfessionnelle":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code de la catégorie professionnelle ","allowEmptyValue":false,"minLength":1,"maxLength":10}},"title":"CategorieSocioProfessionnelle"},"Civilite":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"01","description":"Code de la civilité","allowEmptyValue":false,"minLength":1,"maxLength":3}},"title":"Civilite"},"ClientDto":{"type":"object","required":["etatCivil","situationProfessionnelle"],"properties":{"capaciteEpargne":{"description":"Capacite d'epargne","allowEmptyValue":false,"$ref":"#/definitions/CapaciteEpargne"},"depenses":{"description":"depenses","allowEmptyValue":false,"$ref":"#/definitions/Depenses"},"situationProfessionnelle":{"allowEmptyValue":false,"$ref":"#/definitions/SituationProfessionnelle"},"etatCivil":{"allowEmptyValue":false,"$ref":"#/definitions/EtatCivil"},"dispositionParticuliere":{"type":"string","description":"Disposition particulière","allowEmptyValue":false},"informationsFiscales":{"allowEmptyValue":false,"$ref":"#/definitions/InfoFiscalesDto"},"identiteFiscaleHorsFranceEtUSA1":{"allowEmptyValue":false,"$ref":"#/definitions/IdentiteFiscale"},"identiteFiscaleHorsFranceEtUSA2":{"allowEmptyValue":false,"$ref":"#/definitions/IdentiteFiscale"},"numeroIdentificationFiscalUS":{"type":"string","description":"Numéro d'identification fiscale américain","allowEmptyValue":false,"minLength":0,"maxLength":11},"residentFiscalOuCitoyenUs":{"type":"boolean","example":false,"description":"Si le souscripteur est résident fiscal aux États-Unis ou citoyen américain ayant sa résidence fiscale hors des États-Unis","allowEmptyValue":false},"patrimoine":{"type":"array","description":"Si la catégorie \"Autre\" est sélectionnée, alors le champs \"preciserPatrimoine\" est obligatoire et ne peut être vide.","allowEmptyValue":false,"items":{"$ref":"#/definitions/Patrimoine"}},"revenus":{"type":"array","description":"Si la catégorie \"Autre\" est sélectionnée, alors le champs \"preciserRevenu\" est obligatoire et ne peut être vide.","allowEmptyValue":false,"items":{"$ref":"#/definitions/RevenusDto"}},"idTiers":{"type":"string","description":"Comptes-titres uniquement : Identifiant externe du tiers","allowEmptyValue":false,"minLength":0,"maxLength":15}},"title":"ClientDto"},"Conjoint":{"type":"object","properties":{"etatCivil":{"$ref":"#/definitions/EtatCivilConjoint"},"patrimoine":{"type":"array","description":"Si la catégorie \"Autre\" est sélectionnée, alors le champs \"preciserPatrimoine\" est obligatoire et ne peut être vide.","allowEmptyValue":false,"items":{"$ref":"#/definitions/Patrimoine"}},"revenus":{"type":"array","description":"Si la catégorie \"Autre\" est sélectionnée, alors le champs \"preciserRevenu\" est obligatoire et ne peut être vide.","allowEmptyValue":false,"items":{"$ref":"#/definitions/RevenusDto"}},"situationProfessionnelle":{"$ref":"#/definitions/SituationProfessionnelleConjoint"}},"title":"Conjoint"},"ConnaissanceClient":{"type":"object","required":["client","coordonnees"],"properties":{"adresseResidenceFiscaleDifferente":{"type":"boolean"},"bulletinPartenaire":{"type":"boolean"},"client":{"$ref":"#/definitions/ClientDto"},"commentaire":{"type":"string","description":"Commentaire sur la déclaration de souscription","allowEmptyValue":false,"minLength":0,"maxLength":500},"conjoint":{"$ref":"#/definitions/Conjoint"},"coordonnees":{"$ref":"#/definitions/Coordonnees"},"dateExpiration":{"type":"string","format":"date-time","example":"2019-01-01","description":"La date d'expiration de la connaissance client","allowEmptyValue":false},"dateSaisie":{"type":"string","format":"date-time","example":"2019-01-01","description":"La date de saisie de l'acc","allowEmptyValue":false},"dateSignatureClient":{"type":"string","format":"date-time","example":"2019-01-01","description":"La date de signature","allowEmptyValue":false},"dateValidite":{"type":"string","format":"date-time","example":"2019-01-01","description":"La date de validité de la proposition d'acc","allowEmptyValue":false},"estCompleteCAD":{"type":"boolean"},"foyer":{"$ref":"#/definitions/Foyer"},"originePatrimoine":{"type":"array","description":"Uniquement pour PPE et proche PPE, obligatoire pour chaque type de patrimoine saisi.","allowEmptyValue":false,"items":{"$ref":"#/definitions/Origine du patrimoine"}},"personneIdExterne":{"type":"integer","format":"int64","description":"Identifiant externe du client","allowEmptyValue":false},"professionSensible":{"type":"boolean"}},"title":"ConnaissanceClient"},"Contact":{"type":"object","required":["email","telephone"],"properties":{"email":{"type":"string","example":"mail@exemple.com","description":"Email","allowEmptyValue":false,"minLength":5,"maxLength":50,"pattern":"^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$"},"telephone":{"$ref":"#/definitions/Telephone"}},"title":"Contact"},"Coordonnees":{"type":"object","required":["adresse","email","telephoneMobile"],"properties":{"adresse":{"allowEmptyValue":false,"$ref":"#/definitions/Adresse"},"email":{"type":"string","example":"mail@exemple.com","description":"Email","allowEmptyValue":false,"minLength":5,"maxLength":50,"pattern":"^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$"},"jddHeberge":{"type":"boolean"},"telephoneDomicile":{"$ref":"#/definitions/Telephone"},"telephoneMobile":{"allowEmptyValue":false,"$ref":"#/definitions/Telephone"}},"title":"Coordonnees"},"CoordonneesEtab":{"type":"object","required":["adresse"],"properties":{"adresse":{"$ref":"#/definitions/Adresse"},"email":{"type":"string","example":"mail@exemple.com","description":"Email","allowEmptyValue":false,"minLength":5,"maxLength":50,"pattern":"^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$"},"telephone":{"$ref":"#/definitions/Telephone"}},"title":"CoordonneesEtab"},"CoordonneesEtablissement":{"type":"object","required":["adresse","email"],"properties":{"adresse":{"allowEmptyValue":false,"$ref":"#/definitions/Adresse"},"email":{"type":"string","example":"mail@exemple.com","description":"Email","allowEmptyValue":false,"minLength":5,"maxLength":50,"pattern":"^(([^<>()\\[\\]\\\\.,;:\\s@\"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$"},"telephoneMobile":{"$ref":"#/definitions/Telephone"}},"title":"CoordonneesEtablissement"},"Courtier":{"type":"object","properties":{"contact":{"description":"Contact courtier","allowEmptyValue":false,"$ref":"#/definitions/Contact"},"nom":{"type":"string","example":"Jean Dupond","description":"Nom du courtier","allowEmptyValue":false,"minLength":0,"maxLength":50,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"}},"title":"Courtier"},"Departement":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"O1","description":"Code du département","allowEmptyValue":false,"minLength":2,"maxLength":2147483647}},"title":"Departement"},"Depenses":{"type":"object","title":"Depenses"},"DonneesBancaires":{"type":"object","required":["bic","iban","ibanOcr","titulaire"],"properties":{"bic":{"type":"string","example":"CRLYFRPP","description":"Identifiant de la banque","allowEmptyValue":false,"minLength":0,"maxLength":11},"changementIban":{"type":"boolean"},"iban":{"type":"string","example":"FR760000000000000000000096","description":"Identifiant du compte bancaire","allowEmptyValue":false},"ibanOcr":{"type":"boolean","example":false,"description":"Ce champs affiche la smart conformite si activer dans le cas d'une souscription papier.","allowEmptyValue":false},"titulaire":{"type":"string","example":"Dupont Jhon","description":"Titulaire du compte","allowEmptyValue":false,"minLength":0,"maxLength":60}},"title":"DonneesBancaires"},"Etablissement":{"type":"object","required":["coordonnees","nom"],"properties":{"coordonnees":{"description":"Coordonnées etablissement","allowEmptyValue":false,"$ref":"#/definitions/CoordonneesEtablissement"},"nom":{"type":"string","example":"Societe Generale","description":"Le nom de l'etablissement","allowEmptyValue":false,"minLength":0,"maxLength":100,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"}},"title":"Etablissement"},"EtatCivil":{"type":"object","required":["civilite","dateNaissance","nationalite","nom","nombrePersonnesACharge","pays","prenom","situationFamiliale","villeNaissance"],"properties":{"civilite":{"$ref":"#/definitions/Civilite"},"dateNaissance":{"type":"string","format":"date-time","example":"1990-08-17","description":"Date de naissance ","allowEmptyValue":false},"nationalite":{"$ref":"#/definitions/Nationalite"},"nom":{"type":"string","example":"Dupond","description":"Nom ","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"nomNaissance":{"type":"string","example":"Dubois","description":"Nom de naissance ","allowEmptyValue":false,"minLength":0,"maxLength":25,"pattern":"(^$)|(^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$)"},"nombreEnfants":{"type":"integer","format":"int32","example":2,"description":"Nombre enfants à Charge","allowEmptyValue":false},"nombrePersonnesACharge":{"type":"integer","format":"int32","description":"Nombre de personne à charge","allowEmptyValue":false},"pays":{"$ref":"#/definitions/Pays"},"personnesACharge":{"type":"array","items":{"$ref":"#/definitions/PersonneAChargeDto"}},"prenom":{"type":"string","example":"Jean","description":"Prénom ","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"regimeMatrimonial":{"$ref":"#/definitions/RegimeMatrimonial"},"situationFamiliale":{"$ref":"#/definitions/SituationFamilialeDto"},"villeNaissance":{"$ref":"#/definitions/VilleNaissance"}},"title":"EtatCivil"},"EtatCivilBeneficiaire":{"type":"object","required":["civilite","dateNaissance","nom","prenom"],"properties":{"civilite":{"$ref":"#/definitions/Civilite"},"dateNaissance":{"type":"string","format":"date-time","example":"2020-01-01","description":"Date de naissance","allowEmptyValue":false},"nom":{"type":"string","example":"Dupond","description":"Nom","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"prenom":{"type":"string","example":"Jean","description":"Prénom","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"}},"title":"EtatCivilBeneficiaire"},"EtatCivilConjoint":{"type":"object","properties":{"civilite":{"$ref":"#/definitions/Civilite"},"dateNaissance":{"type":"string","format":"date-time","example":"1990-08-17","description":"Date de naissance ","allowEmptyValue":false},"departementNaissance":{"$ref":"#/definitions/Departement"},"nationalite":{"$ref":"#/definitions/Nationalite"},"nom":{"type":"string","example":"Dupond","description":"Nom ","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"pays":{"$ref":"#/definitions/Pays"},"prenom":{"type":"string","example":"Jean","description":"Prénom ","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"villeNaissance":{"$ref":"#/definitions/VilleNaissance"}},"title":"EtatCivilConjoint"},"EtatCivilRepresentantLegal":{"type":"object","required":["civilite","dateNaissance","nationalite","nom","paysNaissance","prenom","villeNaissance"],"properties":{"civilite":{"$ref":"#/definitions/Civilite"},"dateNaissance":{"type":"string","format":"date-time","example":"2020-01-01","description":"Date de naissance","allowEmptyValue":false},"departementNaissance":{"$ref":"#/definitions/Departement"},"nationalite":{"$ref":"#/definitions/Nationalite"},"nom":{"type":"string","example":"Dupond","description":"Nom","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"nomNaissance":{"type":"string","example":"Dubois","description":"Nom de naissance","allowEmptyValue":false,"minLength":0,"maxLength":75,"pattern":"(^$)|(^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$)"},"paysNaissance":{"$ref":"#/definitions/Pays"},"prenom":{"type":"string","example":"Jean","description":"Prénom","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"villeNaissance":{"$ref":"#/definitions/VilleNaissance"}},"title":"EtatCivilRepresentantLegal"},"Fonction":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code fonction du representant légal","allowEmptyValue":false,"minLength":1,"maxLength":10},"libelle":{"type":"string","description":"Libelle fonction du representant légal","allowEmptyValue":false}},"title":"Fonction"},"FonctionPPE":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code de la fonction (cas Personne Politiquement Exposée)","allowEmptyValue":false,"minLength":1,"maxLength":4}},"title":"FonctionPPE"},"FonctionRepresentant":{"type":"object","required":["dateNomination","fonction"],"properties":{"dateNomination":{"type":"string","format":"date-time","example":"2020-01-01","description":"Date nommination du representant légal","allowEmptyValue":false},"fonction":{"$ref":"#/definitions/Fonction"}},"title":"FonctionRepresentant"},"Foyer":{"type":"object","properties":{"patrimoine":{"type":"array","description":"Si la catégorie \"Autre\" est sélectionnée, alors le champs \"preciserPatrimoine\" est obligatoire et ne peut être vide.","allowEmptyValue":false,"items":{"$ref":"#/definitions/Patrimoine"}},"revenus":{"type":"array","description":"Si la catégorie \"Autre\" est sélectionnée, alors le champs \"preciserRevenu\" est obligatoire et ne peut être vide.","allowEmptyValue":false,"items":{"$ref":"#/definitions/RevenusDto"}}},"title":"Foyer"},"Frais":{"type":"object","properties":{"codeGrilleDroitDeGarde":{"type":"string","description":"Le code grille saisi de droits de garde","allowEmptyValue":false,"minLength":1,"maxLength":10},"tauxDroitDeGarde":{"type":"number","example":0.5,"description":"Le taux saisi de droits de garde","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false}},"title":"Frais","description":"Selon le paramétrage, seul un de deux champs doit être renseigné"},"IdentiteFiscale":{"type":"object","properties":{"numeroIdentiteFiscale":{"type":"string","description":"Numéro d'identité fiscale hors la France et l'Amérique","allowEmptyValue":false,"minLength":0,"maxLength":25},"pays":{"$ref":"#/definitions/Pays"}},"title":"IdentiteFiscale"},"InfoFiscalesDto":{"type":"object","properties":{"adresseFiscale":{"$ref":"#/definitions/Adresse"},"adressePrincipaleEtResidenceDifferents":{"type":"boolean"},"numeroIdentificationFiscale":{"type":"string","description":"Numéro d'identification fiscale","allowEmptyValue":false,"minLength":0,"maxLength":20}},"title":"InfoFiscalesDto"},"InformationsPPE":{"type":"object","required":["fonction","paysExerce"],"properties":{"fonction":{"$ref":"#/definitions/FonctionPPE"},"paysExerce":{"$ref":"#/definitions/Pays"},"ppeFonctionAutre":{"type":"string","description":"Préciser la fonction si autre","allowEmptyValue":false}},"title":"InformationsPPE"},"InformationsPPEConjoint":{"type":"object","properties":{"fonction":{"$ref":"#/definitions/FonctionPPE"},"paysExerce":{"$ref":"#/definitions/Pays"},"ppeFonctionAutre":{"type":"string","description":"Préciser la fonction si autre","allowEmptyValue":false}},"title":"InformationsPPEConjoint"},"LienFamilialDto":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"Parent","description":"Code du type de lien familiale","allowEmptyValue":false,"minLength":1,"maxLength":100}},"title":"LienFamilialDto"},"LienPPE":{"type":"object","required":["fonction","natureLien","nom","paysExerce","prenom"],"properties":{"fonction":{"$ref":"#/definitions/FonctionPPE"},"natureLien":{"$ref":"#/definitions/NatureLien"},"nom":{"type":"string","description":"Nom de la personne politiquement exposée en lien familial","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"paysExerce":{"$ref":"#/definitions/Pays"},"ppeFonctionAutre":{"type":"string","description":"Fonction de la personne politiquement exposée en lien familial si autre","allowEmptyValue":false,"minLength":0,"maxLength":150},"prenom":{"type":"string","description":"Prénom de la personne politiquement exposée en lien familial","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"}},"title":"LienPPE"},"LienPPEConjoint":{"type":"object","properties":{"fonction":{"$ref":"#/definitions/FonctionPPE"},"natureLien":{"$ref":"#/definitions/NatureLien"},"nom":{"type":"string","description":"Nom de la personne politiquement exposée en lien familial","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"paysExerce":{"$ref":"#/definitions/Pays"},"ppeFonctionAutre":{"type":"string","description":"Fonction de la personne politiquement exposée en lien familial si autre","allowEmptyValue":false,"minLength":0,"maxLength":150},"prenom":{"type":"string","description":"Prénom de la personne politiquement exposée en lien familial","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"}},"title":"LienPPEConjoint"},"Nationalite":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"FR","description":"Code de nationalité","allowEmptyValue":false,"minLength":2,"maxLength":11}},"title":"Nationalite"},"NatureLien":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code de la nature du lien avec une Personne Politiquement Exposée","allowEmptyValue":false,"minLength":1,"maxLength":4}},"title":"NatureLien"},"ObjectifInvestissement":{"type":"object","properties":{"code":{"type":"string","example":"OBJ1","description":"Code objectif d'investissement","allowEmptyValue":false,"minLength":0,"maxLength":11}},"title":"ObjectifInvestissement"},"ObligationFiscale":{"type":"object","required":["numeroFiscale","pays"],"properties":{"numeroFiscale":{"type":"string","description":"Numéro fiscal","allowEmptyValue":false,"minLength":1,"maxLength":45},"pays":{"$ref":"#/definitions/Pays"}},"title":"ObligationFiscale"},"Origine du patrimoine":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code type de patrimoine.","allowEmptyValue":false},"libelle":{"type":"string"},"order":{"type":"integer","format":"int32"},"repartitionHeritageGainDonation":{"type":"number","description":"Pourcentage du partimoine issue de Heritage Gain ou Donation, le reste est constitué au fil des ans.","allowEmptyValue":false}},"title":"Origine du patrimoine"},"OrigineDesFonds":{"type":"object","properties":{"ofAutre":{"type":"number","example":4.56,"description":"Origine du fonds de type autre","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"ofAutreCommentaire":{"type":"string","description":"Commentaire sur les origines des fonds si ''autre'' est valorisé","allowEmptyValue":false,"minLength":0,"maxLength":100},"ofAutresPlacements":{"type":"number","example":4.56,"description":"Origine du fonds de type autres placements","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"ofBiensMobiliers":{"type":"number","example":4.56,"description":"Origine du fonds de type biens mobiliers","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"ofCessionActifs":{"type":"number","example":4.56,"description":"Origine du fonds de type cession d'actifs","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"ofRevenusPro":{"type":"number","example":4.56,"description":"Origine du fonds de type revenus professionnels","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"ofSuccessionDonation":{"type":"number","example":4.56,"description":"Origine du fonds de type succession donation","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"ofVenteImmobiliere":{"type":"number","example":4.56,"description":"Origine du fonds de type ventre immobilière","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false}},"title":"OrigineDesFonds","description":"Le montant du versement doit être réparti sur un ou plusieurs types"},"OuvertureCompteTitres":{"type":"object","required":["frais","objectifInvestissement","versementInitial"],"properties":{"donneesBancaires":{"$ref":"#/definitions/DonneesBancaires"},"frais":{"$ref":"#/definitions/Frais"},"objectifInvestissement":{"description":"Objectif d'investissement","allowEmptyValue":false,"$ref":"#/definitions/ObjectifInvestissement"},"statut":{"type":"string","description":"Statut de la souscription","readOnly":true,"allowEmptyValue":false},"transferts":{"type":"array","description":"Transfert compte","allowEmptyValue":false,"items":{"$ref":"#/definitions/TransfertCompte"}},"versementInitial":{"$ref":"#/definitions/VersementOuvertureCompteTitres"},"zeroPapier":{"type":"boolean","example":false,"description":"Reception du papier ou pas","allowEmptyValue":false}},"title":"OuvertureCompteTitres"},"PMConnaissanceClient":{"type":"object","required":["coordonnees","dateCreation","denominationSociale","paysEnregistrement","reponsesQuestionsFiscales","representantLegalPrincipal","secteurActivite","statutJuridique"],"properties":{"bulletinPartenaire":{"type":"boolean"},"dateSignatureClient":{"type":"string","format":"date-time","example":"2019-01-01","description":"La date de signature","allowEmptyValue":false},"siren":{"type":"string","example":362521879,"description":"Siren de la PM ","allowEmptyValue":false,"pattern":"\\w{0}|\\w{9}"},"lei":{"type":"string","example":"335800A1B2C3D4F5G690","description":"Numéro LEI (Legal Entity Identifier) de la PM ","allowEmptyValue":false,"minLength":1,"maxLength":20},"denominationSociale":{"type":"string","example":"Electricité de France (EDF)","description":"Dénomination Sociale de la PM","allowEmptyValue":false,"minLength":1,"maxLength":75},"statutJuridique":{"allowEmptyValue":false,"$ref":"#/definitions/StatutJuridique"},"secteurActivite":{"allowEmptyValue":false,"$ref":"#/definitions/SecteurActivite"},"coordonnees":{"allowEmptyValue":false,"$ref":"#/definitions/CoordonneesEtab"},"representantLegalPrincipal":{"allowEmptyValue":false,"$ref":"#/definitions/RepresentantLegal"},"autresRepresentantsLegaux":{"type":"array","allowEmptyValue":false,"items":{"$ref":"#/definitions/RepresentantLegal"}},"beneficiaires":{"type":"array","allowEmptyValue":false,"items":{"$ref":"#/definitions/Beneficiaire"}},"patrimoines":{"type":"array","allowEmptyValue":false,"items":{"$ref":"#/definitions/Patrimoine"}},"obligationFiscales":{"type":"array","allowEmptyValue":false,"items":{"$ref":"#/definitions/ObligationFiscale"}},"reponsesQuestionsFiscales":{"type":"array","allowEmptyValue":false,"items":{"$ref":"#/definitions/ReponsesQuestionsFiscales"}},"dateCreation":{"type":"string","format":"date-time","example":"2019-01-01","description":"La date de creation de la personne morale","allowEmptyValue":false},"paysEnregistrement":{"description":"Pays enregistrement de la personne morale","allowEmptyValue":false,"$ref":"#/definitions/Pays"}},"title":"PMConnaissanceClient"},"Patrimoine":{"type":"object","required":["montant","typePatrimoine"],"properties":{"montant":{"type":"number","example":4.56,"description":"Montant du patrimoine","allowEmptyValue":false},"preciserPatrimoine":{"type":"string","description":"Précisez dans la zone libre la nature du patrimoine ne relevant pas des catégories précitées, telles que Retraite Madelin, PEE, PERCO, Retraites supplémentaires (art 83, ...)","allowEmptyValue":false,"minLength":0,"maxLength":50},"typePatrimoine":{"$ref":"#/definitions/TypePatrimoine"}},"title":"Patrimoine"},"Pays":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"FR","description":"Code ISO 2 du pays","allowEmptyValue":false,"minLength":1,"maxLength":2}},"title":"Pays"},"PersonneAChargeDto":{"type":"object","required":["dateNaissance","lienFamilial","nom","prenom"],"properties":{"dateNaissance":{"type":"string","format":"date-time","example":"1990-08-17","description":"Date de naissance de la personne à charge","allowEmptyValue":false},"lienFamilial":{"$ref":"#/definitions/LienFamilialDto"},"nom":{"type":"string","example":"Dupond","description":"Nom de la personne à charge","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"},"prenom":{"type":"string","example":"Jean","description":"Prénom de la personne à charge","allowEmptyValue":false,"minLength":1,"maxLength":25,"pattern":"^([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+([-]([A-Za-zÀ-ÖØ-öø-ÿ-]+(( |')[A-Za-zÀ-ÖØ-öø-ÿ-]+)*)+){0,25}$"}},"title":"PersonneAChargeDto"},"Portefeuille":{"type":"object","required":["isinCode","repartition","tauxDroitEntree"],"properties":{"isinCode":{"type":"string","example":"FR0007028063","description":"Code ISIN du support choisi","allowEmptyValue":false,"minLength":0,"maxLength":12},"optionArbitrageProgramme":{"type":"string","example":"SL","description":"Banque : Option d'arbitrage programmé (Stop Loss / Win)","allowEmptyValue":false,"enum":["SL","SW","SWL"]},"repartition":{"type":"number","example":4.56,"description":"Répartition souhaitée du montant de versement sur le support choisi","allowEmptyValue":false,"minimum":0.0,"maximum":100.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"tauxDroitEntree":{"type":"number","example":0.7,"description":"Banque : Taux frais de droit d'entrée","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false}},"title":"Portefeuille"},"Produit":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"SKCT01","description":"Code du produit","allowEmptyValue":false,"minLength":0,"maxLength":11},"version":{"type":"string","description":"Version du produit.","allowEmptyValue":false}},"title":"Produit"},"ProfilGestion":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"GBK1","description":"Code du profil de gestion","allowEmptyValue":false,"minLength":0,"maxLength":4}},"title":"ProfilGestion"},"ProjetOuvertureCompteTitres":{"type":"object","required":["ouvertureCompteTitres","produit","profilGestion"],"properties":{"connaissanceClient":{"description":"Connaissance client de la personne physique (En exclusion avec 'connaissanceClientPM' qui est utilisé pour le cas d'une connaissance client PM)","allowEmptyValue":false,"$ref":"#/definitions/ConnaissanceClient"},"connaissanceClientPM":{"description":"Connaissance client de la personne morale (En exclusion avec le champs 'connaissanceClient' qui est utilisé pour le cas d'une connaissance client PP)","allowEmptyValue":false,"$ref":"#/definitions/PMConnaissanceClient"},"produit":{"allowEmptyValue":false,"$ref":"#/definitions/Produit"},"profilGestion":{"description":"Profil de gestion","allowEmptyValue":false,"$ref":"#/definitions/ProfilGestion"},"typeCompte":{"description":"com.apicil.cosy.ouverture.comptetitres.dto.ProjetOuvertureCompteTitresDto.typeCompte","allowEmptyValue":false,"$ref":"#/definitions/TypeCompte"},"typesDetenteur":{"type":"array","description":"Types de detenteur","allowEmptyValue":false,"items":{"$ref":"#/definitions/TypeDetenteur"}},"ouvertureCompteTitres":{"allowEmptyValue":false,"$ref":"#/definitions/OuvertureCompteTitres"},"typeSignature":{"type":"string","example":"PAPIER","description":"Valeurs possibles \"ELECTRONIQUE\" ou \"PAPIER\"","allowEmptyValue":false,"enum":["PAPIER","ELECTRONIQUE"]}},"title":"ProjetOuvertureCompteTitres"},"RecuperationProjetOuvertureCompteTitres":{"type":"object","required":["ouvertureCompteTitres","produit","profilGestion"],"properties":{"connaissanceClient":{"description":"Connaissance client de la personne physique (En exclusion avec 'connaissanceClientPM' qui est utilisé pour le cas d'une connaissance client PM)","allowEmptyValue":false,"$ref":"#/definitions/ConnaissanceClient"},"statut":{"type":"string","description":"Statut du projet","allowEmptyValue":false},"connaissanceClientPM":{"description":"Connaissance client de la personne morale (En exclusion avec le champs 'connaissanceClient' qui est utilisé pour le cas d'une connaissance client PP)","allowEmptyValue":false,"$ref":"#/definitions/PMConnaissanceClient"},"produit":{"allowEmptyValue":false,"$ref":"#/definitions/Produit"},"profilGestion":{"description":"Profil de gestion","allowEmptyValue":false,"$ref":"#/definitions/ProfilGestion"},"typeCompte":{"description":"com.apicil.cosy.ouverture.comptetitres.dto.ProjetOuvertureCompteTitresDto.typeCompte","allowEmptyValue":false,"$ref":"#/definitions/TypeCompte"},"typesDetenteur":{"type":"array","description":"Types de detenteur","allowEmptyValue":false,"items":{"$ref":"#/definitions/TypeDetenteur"}},"ouvertureCompteTitres":{"allowEmptyValue":false,"$ref":"#/definitions/OuvertureCompteTitres"},"typeSignature":{"type":"string","example":"PAPIER","description":"Valeurs possibles \"ELECTRONIQUE\" ou \"PAPIER\"","allowEmptyValue":false,"enum":["PAPIER","ELECTRONIQUE"]}},"title":"RecuperationProjetOuvertureCompteTitres"},"RegimeMatrimonial":{"type":"object","properties":{"code":{"type":"string","example":"A","description":"Code du régime matrimonial","allowEmptyValue":false,"minLength":0,"maxLength":4}},"title":"RegimeMatrimonial"},"ReponseProjet":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64","description":"Identifiant du projet d'investissement","allowEmptyValue":false}},"title":"ReponseProjet"},"ReponsesQuestionsFiscales":{"type":"object","required":["code","reponse"],"properties":{"code":{"type":"string","description":"Code d'une question fiscale","allowEmptyValue":false,"minLength":0,"maxLength":5},"reponse":{"type":"boolean","example":false,"description":"Réponse à une question fiscale (true/false)","allowEmptyValue":false}},"title":"ReponsesQuestionsFiscales"},"RepresentantLegal":{"type":"object","required":["coordonnees","etatCivil"],"properties":{"coordonnees":{"$ref":"#/definitions/Coordonnees"},"etatCivil":{"$ref":"#/definitions/EtatCivilRepresentantLegal"},"fonctionRepresentant":{"$ref":"#/definitions/FonctionRepresentant"},"informationsPPE":{"$ref":"#/definitions/InformationsPPE"},"informationslienPPE":{"$ref":"#/definitions/LienPPE"},"obligationFiscales":{"type":"array","items":{"$ref":"#/definitions/ObligationFiscale"}},"reponsesQuestionsFiscales":{"type":"array","items":{"$ref":"#/definitions/ReponsesQuestionsFiscales"}}},"title":"RepresentantLegal"},"RevenusDto":{"type":"object","required":["montant","typeRevenu"],"properties":{"montant":{"type":"number","example":4.56,"description":"Montant du revenu ","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"preciserRevenu":{"type":"string","description":"Précisez dans la zone libre la nature du revenu ne relevant pas des catégories précitées","allowEmptyValue":false,"minLength":0,"maxLength":50},"typeRevenu":{"$ref":"#/definitions/TypeRevenuDto"}},"title":"RevenusDto"},"SecteurActivite":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"08.93Z","description":"Le code du secteur d'activite de la PM","allowEmptyValue":false,"minLength":1,"maxLength":10}},"title":"SecteurActivite"},"SituationActuelle":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"AC","description":"Code de la situation professionnelle actuelle","allowEmptyValue":false,"minLength":1,"maxLength":2}},"title":"SituationActuelle"},"SituationFamilialeDto":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"MA","description":"Code de la situation familiale","allowEmptyValue":false,"minLength":1,"maxLength":4}},"title":"SituationFamilialeDto"},"SituationProfessionnelle":{"type":"object","required":["categorieSocioProfessionnelle","professionActuelle","secteurActivite","situationActuelle","travailleurNonSalarie"],"properties":{"anneeDepartRetraite":{"type":"integer","format":"int32","example":2035,"description":"L'annee de depart à la retraite","allowEmptyValue":false},"categorieSocioProfessionnelle":{"$ref":"#/definitions/CategorieSocioProfessionnelle"},"informationsPPE":{"$ref":"#/definitions/InformationsPPE"},"lienPPE":{"$ref":"#/definitions/LienPPE"},"nomEntreprise":{"type":"string","description":"Nom d'entreprise ","allowEmptyValue":false,"minLength":0,"maxLength":50},"professionActuelle":{"type":"string","description":"Profession actuelle ","allowEmptyValue":false,"minLength":1,"maxLength":50},"secteurActivite":{"$ref":"#/definitions/SecteurActivite"},"situationActuelle":{"$ref":"#/definitions/SituationActuelle"},"travailleurNonSalarie":{"type":"boolean","example":false,"description":"''true'' si le souscripteur es travailleur non salarié, ''false'' sinon","allowEmptyValue":false}},"title":"SituationProfessionnelle"},"SituationProfessionnelleConjoint":{"type":"object","properties":{"categorieSocioProfessionnelle":{"$ref":"#/definitions/CategorieSocioProfessionnelle"},"informationsPPE":{"$ref":"#/definitions/InformationsPPEConjoint"},"lienPPE":{"$ref":"#/definitions/LienPPEConjoint"},"nomEntreprise":{"type":"string","description":"Nom d'entreprise ","allowEmptyValue":false,"minLength":0,"maxLength":50},"professionActuelle":{"type":"string","description":"Profession actuelle ","allowEmptyValue":false,"minLength":1,"maxLength":50},"secteurActivite":{"$ref":"#/definitions/SecteurActivite"},"situationActuelle":{"$ref":"#/definitions/SituationActuelle"},"travailleurNonSalarie":{"type":"boolean","example":false,"description":"''true'' si le souscripteur es travailleur non salarié, ''false'' sinon","allowEmptyValue":false}},"title":"SituationProfessionnelleConjoint"},"StatutJuridique":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Le code INSEE du statut juridique de la PM","allowEmptyValue":false,"minLength":1,"maxLength":4},"libelle":{"type":"string","description":"Le libelle du statut juridique de la PM (Optionel en saisie)","allowEmptyValue":false,"minLength":0,"maxLength":200}},"title":"StatutJuridique","description":"Container du statut juridique de la PM (Le libelle sert lors de la restitution, optionelle en saisie)"},"Telephone":{"type":"object","required":["indicatif","numeroTelephone"],"properties":{"indicatif":{"type":"string","example":"0033","description":"Indicatif du téléphone ","allowEmptyValue":false,"minLength":1,"maxLength":10},"numeroTelephone":{"type":"string","example":"1 23 45 67 89","description":"Téléphone","allowEmptyValue":false,"minLength":1,"maxLength":18}},"title":"Telephone"},"TransfertCompte":{"type":"object","required":["etablissement","numeroCompte","typeCompte"],"properties":{"courtier":{"description":"Courtier du compte","allowEmptyValue":false,"$ref":"#/definitions/Courtier"},"etablissement":{"description":"Etablissement de domiciliation du compte","allowEmptyValue":false,"$ref":"#/definitions/Etablissement"},"numeroCompte":{"type":"string","example":444444444,"description":"Numéro du compte","allowEmptyValue":false,"minLength":0,"maxLength":34},"typeCompte":{"type":"string","example":"ORD","description":"Type de compte","allowEmptyValue":false,"enum":["ORD","PEA","PEA_PME"]}},"title":"TransfertCompte"},"TypeCompte":{"type":"object","properties":{"code":{"type":"string","example":"ORD","description":"Code du type de compte","allowEmptyValue":false,"minLength":0,"maxLength":11}},"title":"TypeCompte"},"TypeDetenteur":{"type":"object","properties":{"code":{"type":"string","example":"B08","description":"Code du type de detenteur","allowEmptyValue":false,"minLength":0,"maxLength":11}},"title":"TypeDetenteur"},"TypePatrimoine":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code type de patrimoine","allowEmptyValue":false,"minLength":2,"maxLength":11},"infobulle":{"type":"string","description":"Le contenu de l'infobulle","allowEmptyValue":false}},"title":"TypePatrimoine"},"TypeRevenuDto":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code type de revenu","allowEmptyValue":false,"minLength":2,"maxLength":11},"infobulle":{"type":"string","description":"Infobulle","allowEmptyValue":false}},"title":"TypeRevenuDto"},"VersementOuvertureCompteTitres":{"type":"object","required":["modePaiement","montant"],"properties":{"modePaiement":{"type":"string","example":"V","description":"Mode de paiement souhaité: P pour un prélèvement bancaire, C pour un paiement par chèque, V pour un virement et T pour un transfert","allowEmptyValue":false,"enum":["P","C","V","T"]},"montant":{"type":"number","example":4.56,"description":"Montant du versement","allowEmptyValue":false,"minimum":0.0,"exclusiveMinimum":false},"origineDesFonds":{"description":"Montant du versement doit être réparti sur un ou plusieurs types","allowEmptyValue":false,"$ref":"#/definitions/OrigineDesFonds"},"portefeuille":{"type":"array","description":"Le portefeuille des supports","allowEmptyValue":false,"items":{"$ref":"#/definitions/Portefeuille"}}},"title":"VersementOuvertureCompteTitres"},"VilleAdresse":{"type":"object","properties":{"libelle":{"type":"string","example":"Bettant","description":"Nom de la ville.","allowEmptyValue":false,"minLength":0,"maxLength":70}},"title":"VilleAdresse"},"VilleNaissance":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"01041","description":"Code INSEE de la ville. <br/> Si le pays de naissance est différent de France alors mettre le code \"99999\".","allowEmptyValue":false,"minLength":1,"maxLength":70},"libelle":{"type":"string","example":"Bettant","description":"Nom de la ville. <br/> Si le pays de naissance est différent de France alors le nom de la ville est obligatoire.","allowEmptyValue":false,"minLength":0,"maxLength":70}},"title":"VilleNaissance"}}}