{"swagger":"2.0","info":{"description":"Le catalogue des services de passage dodre","version":"1.0","title":"Les services de passage dordre","license":{}},"host":"hub-demo.intencial.fr","basePath":"/","tags":[{"name":"L'ensemble des services de passage d'Ordre","description":"Ordre Service Controller"}],"paths":{"/ordre/achat":{"post":{"tags":["L'ensemble des services de passage d'Ordre"],"summary":"Crée un ordre d'achat","operationId":"ordreAchatTitreUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"ordreAchat","description":"ordreAchat","required":false,"schema":{"$ref":"#/definitions/OrdreAchat"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReponseOrdreDTO"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/ordre/alertes":{"get":{"tags":["L'ensemble des services de passage d'Ordre"],"summary":"Liste des alertes MIF","description":"Retourne la liste des alertes MIF","operationId":"recupererLesAlertesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlerteCodeFonctionnelDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/ordre/erreurs":{"get":{"tags":["L'ensemble des services de passage d'Ordre"],"summary":"Lister les messages des erreurs fonctionnelles de passage d'ordre.","description":"Retourne la liste des retours (code + message)","operationId":"erreursFonctionnellesUsingGET_3","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ErreurCodeFonctionnelDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/ordre/vente":{"post":{"tags":["L'ensemble des services de passage d'Ordre"],"summary":"Crée un ordre de vente","operationId":"ordreVenteTitreUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"ordreVenteDto","description":"ordreVenteDto","required":false,"schema":{"$ref":"#/definitions/OrdreVente"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReponseOrdreDTO"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}}},"definitions":{"Alerte":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}},"title":"Alerte"},"AlerteCodeFonctionnelDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32","description":"Code des alertes fonctionnelles de l'acte","allowEmptyValue":false},"message":{"type":"string","description":"Messages des alertes fonctionnelles de l'acte","allowEmptyValue":false}},"title":"AlerteCodeFonctionnelDto"},"CompteTitres":{"type":"object","required":["numeroCompte"],"properties":{"numeroCompte":{"type":"string","example":141200000140074660001,"description":"Numéro de compte","allowEmptyValue":false,"minLength":0,"maxLength":30}},"title":"CompteTitres"},"ErreurCodeFonctionnelDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32","description":"Code des erreurs fonctionnelles de l'acte","allowEmptyValue":false},"message":{"type":"string","description":"Messages des erreurs fonctionnelles de l'acte","allowEmptyValue":false}},"title":"ErreurCodeFonctionnelDto"},"Frais":{"type":"object","properties":{"commission":{"allowEmptyValue":false,"$ref":"#/definitions/FraisAppliquer"},"droitEntree":{"allowEmptyValue":false,"$ref":"#/definitions/FraisAppliquer"},"fraisCouponCouru":{"allowEmptyValue":false,"$ref":"#/definitions/FraisAppliquer"},"fraisCourtageBroker":{"description":"Frais de courtage du broker","allowEmptyValue":false,"$ref":"#/definitions/FraisAppliquer"},"taxeTransactionsFin":{"description":"Taxe sur les transactions financières","allowEmptyValue":false,"$ref":"#/definitions/Prix"},"tvaCourtage":{"description":"TVA sur courtage","allowEmptyValue":false,"$ref":"#/definitions/Prix"},"taxeLocaleDuBrokerLocal":{"description":"Taxe locale du Broker local","allowEmptyValue":false,"$ref":"#/definitions/Prix"},"sadie":{"description":"SADIE (service daide à la décision dinvestissement)","allowEmptyValue":false,"$ref":"#/definitions/Prix"},"fraisTable":{"description":"Frais de table, autres frais prévus entre les deux parties","allowEmptyValue":false,"$ref":"#/definitions/Prix"}},"title":"Frais","description":"Présence possible seulement quand type = F ou S"},"FraisAppliquer":{"type":"object","properties":{"montant":{"allowEmptyValue":false,"$ref":"#/definitions/Prix"},"taux":{"type":"number","allowEmptyValue":false}},"title":"FraisAppliquer","description":"Soit montant soit taux est saisie, pas en même temps"},"ModaliteExecution":{"type":"object","properties":{"modaliteExecution":{"type":"string","example":"MAR","description":"Modalité d'execution de l'ordre (MAR : market price, LIM : with limit (use PriceLimit), ASD : with threshold trigger (use PriceThreshold), APD : stop limit (use both PriceLimit and PriceThreshold)","allowEmptyValue":false,"enum":["MAR","LIM","ASD","APD"]},"limite":{"type":"number","example":1.2345678901234567E9,"description":"Obligatoire quand la valeur du champ modaliteExecution est : LIM ou APD","allowEmptyValue":false},"seuil":{"type":"number","example":1.2345678901234567E9,"description":"Obligatoire quand la valeur du champ modaliteExecution est : ASD ou APD","allowEmptyValue":false}},"title":"ModaliteExecution"},"Negociation":{"type":"object","properties":{"prix":{"allowEmptyValue":false,"$ref":"#/definitions/Prix"},"pourcentage":{"type":"number","description":"Prix de l'offre en pourcentage","allowEmptyValue":false}},"title":"Negociation"},"Operation":{"type":"object","required":["placeDeCotation","prixNegocie"],"properties":{"placeDeCotation":{"type":"string","example":"AAAAA","description":"Place de cotation (Obligatoire si le noeud operation est présent)","allowEmptyValue":false,"minLength":0,"maxLength":5},"coupon":{"allowEmptyValue":false,"$ref":"#/definitions/Prix"},"prixNegocie":{"allowEmptyValue":false,"$ref":"#/definitions/Negociation"},"date":{"type":"string","format":"date-time","example":"2021-01-01T01:01:01","description":"Le timestamp de négociation de lordre (date + heure) (obligatoire dans le cas où lordre est direct répondu)","allowEmptyValue":false},"bicDeContrepartie":{"type":"string","example":"CRLYFRPP","description":"BIC de la contrepartie (Obligatoire dans le cas où l'ordre est direct ( répondu ou non-répondu))","allowEmptyValue":false,"minLength":11,"maxLength":11}},"title":"Operation"},"OrdreAchat":{"type":"object","required":["compteTitres","ordre","origine","simulation","type"],"properties":{"compteTitres":{"allowEmptyValue":false,"$ref":"#/definitions/CompteTitres"},"origine":{"type":"string","example":"W","description":"Moyen de saisir l'ordre (Les valeurs possibles: W pour web H pour hors web)","allowEmptyValue":false,"enum":["W","H"]},"type":{"type":"string","example":"F","description":"Type de l'ordre (S : Titre vif, F : Fonds, O : Gré à gré)","allowEmptyValue":false,"enum":["S","F","O"]},"canal":{"type":"string","example":"D","description":"Canal de l'ordre (R: Routé, D: Directe répondu, Z: directe non répondu) / Obligatoire quand type = S ou O","allowEmptyValue":false,"enum":["R","D","Z"]},"ordreIdExterne":{"type":"string","example":"OrdreAphaBravo","description":"Identifiant externe de l'ordre","allowEmptyValue":false,"minLength":0,"maxLength":16},"simulation":{"type":"boolean","example":false,"description":"Simulation ou pas","allowEmptyValue":false},"ordre":{"allowEmptyValue":false,"$ref":"#/definitions/OrdreAchatDetails"}},"title":"OrdreAchat"},"OrdreAchatDetails":{"type":"object","required":["controleDeCouverture","deviseDePaiement","isin","quantite"],"properties":{"isin":{"type":"string","example":"FR0007028063","description":"Code ISIN","allowEmptyValue":false,"minLength":12,"maxLength":12},"quantite":{"allowEmptyValue":false,"$ref":"#/definitions/Quantite"},"dateValidite":{"type":"string","format":"date","example":"2050-01-01","description":"Date limite pour l'exécution de l'ordre","allowEmptyValue":false},"prix":{"allowEmptyValue":false,"$ref":"#/definitions/ModaliteExecution"},"deviseDePaiement":{"type":"string","example":"EUR","description":"Devise de négociation (Obligatoire quand type=F)","allowEmptyValue":false,"minLength":3,"maxLength":3},"controleDeCouverture":{"type":"boolean","example":false,"description":"Il y a un contrôle sur le cash","allowEmptyValue":false},"operation":{"allowEmptyValue":false,"$ref":"#/definitions/Operation"},"frais":{"allowEmptyValue":false,"$ref":"#/definitions/Frais"}},"title":"OrdreAchatDetails"},"OrdreVente":{"type":"object","required":["compteTitres","ordre","origine","simulation","type"],"properties":{"compteTitres":{"allowEmptyValue":false,"$ref":"#/definitions/CompteTitres"},"origine":{"type":"string","example":"W","description":"Moyen de saisir l'ordre (Les valeurs possibles: W pour web H pour hors web)","allowEmptyValue":false,"enum":["W","H"]},"type":{"type":"string","example":"F","description":"Type de l'ordre (S : Titre vif, F : Fonds, O : Gré à gré)","allowEmptyValue":false,"enum":["S","F","O"]},"canal":{"type":"string","example":"D","description":"Canal de l'ordre (R: Routé, D: Directe répondu, Z: directe non répondu) / Obligatoire quand type = S ou O","allowEmptyValue":false,"enum":["R","D","Z"]},"ordreIdExterne":{"type":"string","example":"OrdreAphaBravo","description":"Identifiant externe de l'ordre","allowEmptyValue":false,"minLength":0,"maxLength":16},"simulation":{"type":"boolean","example":false,"description":"Simulation ou pas","allowEmptyValue":false},"ordre":{"allowEmptyValue":false,"$ref":"#/definitions/OrdreVenteDetails"}},"title":"OrdreVente"},"OrdreVenteDetails":{"type":"object","required":["deviseDePaiement","isin","quantite"],"properties":{"isin":{"type":"string","example":"FR0007028063","description":"Code ISIN","allowEmptyValue":false,"minLength":12,"maxLength":12},"quantite":{"allowEmptyValue":false,"$ref":"#/definitions/Quantite"},"dateValidite":{"type":"string","format":"date","example":"2050-01-01","description":"Date limite pour l'exécution de l'ordre","allowEmptyValue":false},"prix":{"allowEmptyValue":false,"$ref":"#/definitions/ModaliteExecution"},"deviseDePaiement":{"type":"string","example":"EUR","description":"Devise de négociation (Obligatoire quand type=F)","allowEmptyValue":false,"minLength":3,"maxLength":3},"operation":{"allowEmptyValue":false,"$ref":"#/definitions/Operation"},"frais":{"allowEmptyValue":false,"$ref":"#/definitions/Frais"}},"title":"OrdreVenteDetails"},"Prix":{"type":"object","required":["devise","montant"],"properties":{"montant":{"type":"number","example":1.2345678901234E9,"description":"Montant","allowEmptyValue":false},"devise":{"type":"string","example":"EUR","description":"Devise","allowEmptyValue":false,"minLength":3,"maxLength":3}},"title":"Prix"},"Quantite":{"type":"object","properties":{"unite":{"type":"number","example":1.2345678901234567E9,"allowEmptyValue":false},"montantNominal":{"description":"Montant nominal","allowEmptyValue":false,"$ref":"#/definitions/Prix"},"nominaleEmission":{"description":"Nominal d'emission","allowEmptyValue":false,"$ref":"#/definitions/Prix"}},"title":"Quantite","description":"Soit unite, soit montantNominal est rempli, pas en même temps"},"ReponseOrdreDTO":{"type":"object","properties":{"alertes":{"type":"array","items":{"$ref":"#/definitions/Alerte"}},"controleDeCouvertureForce":{"type":"boolean","example":false,"description":"Controle de couverture forcé","allowEmptyValue":false},"ordreId":{"type":"string"}},"title":"ReponseOrdreDTO"}}}