{"swagger":"2.0","info":{"description":"Le catalogue des services de référence de COSY. Il s'agit des services qui permettent la récupération des données des tables de référence...","title":"Le référentiel COSY","license":{}},"host":"hub-demo.intencial.fr","basePath":"/","tags":[{"name":"Le service de recherche d'un courtier","description":"Courtier Controller"},{"name":"Le service de recherche des courtiers (vendeurs/organisation)","description":"Courtiers List Controller"},{"name":"Référentiel","description":"Referentiel Controller"}],"paths":{"/produit/{codeProduit}/modegestion":{"get":{"tags":["Référentiel Produit","Référentiel"],"summary":"Liste des modes de gestion accessibles à un produit","description":"Renvoie la liste des modes de gestion accessibles à un produit ainsi que l'ensemble des référentiels associés nécessaires au choix du mode de gestion","operationId":"recupererLaListModeGestionParProduitUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"codeProduit","required":true,"type":"string"},{"name":"courtierId","in":"query","description":"courtierId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"La récupération de la liste des modes de gestion accessibles à un produit est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/ModeGestionDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/produit/{codeProduit}/modegestion/{idContrat}":{"get":{"tags":["Référentiel Produit","Référentiel"],"summary":"Liste des modes de gestion accessibles à un contrat","description":"Renvoie la liste des modes de gestion accessibles à un contrat ainsi que l'ensemble des référentiels associés nécessaires au choix du mode de gestion","operationId":"recupererLaListModeGestionParContratUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"codeProduit","required":true,"type":"string"},{"name":"idContrat","in":"path","description":"idContrat","required":true,"type":"integer","format":"int64"},{"name":"suggestionPF","in":"query","description":"suggestionPF","required":false,"type":"boolean"},{"name":"courtierId","in":"query","description":"courtierId","required":false,"type":"integer","format":"int64"},{"name":"idProduit","in":"query","description":"idProduit","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"La récupération de la liste des modes de gestion accessibles à un contrat est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/ModeGestionDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/produit/{codeProduit}/support/{isinSupport}/questions":{"get":{"tags":["Référentiel"],"summary":"La liste des questions liées à un support structuré","description":"Le service retourne la liste des questions liées à un support structuré en se basant sur l'assureur du produit","operationId":"getQuestionsPourSupportStructureUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"Code du produit","required":true,"type":"string"},{"name":"isinSupport","in":"path","description":"Code ISIN du support","required":true,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des questions liées au produit structuré est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/QuestionSupportStructureDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/produit/{codeProduit}/{typeDoc}":{"get":{"tags":["Référentiel Produit","Référentiel"],"summary":"Récupération du DIC/DIP produit","description":"Récupération du DIC/DIP produit selon le code produit et le type du document","operationId":"recupererLeDICUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"codeProduit","required":true,"type":"string"},{"name":"typeDoc","in":"path","description":"typeDoc","required":true,"type":"string"},{"name":"contratId","in":"query","description":"contratId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"La récupération du DIC/DIP","schema":{"$ref":"#/definitions/Resource"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/adresseAPI":{"get":{"tags":["Référentiel Adresses","Référentiel"],"summary":"Récupérer les adresses depuis l'API (adresse.data.gouv.fr)","description":"Récupérer les adresses depuis l'API (adresse.data.gouv.fr)","operationId":"recupererAdresseDataGouvrUsingGET","produces":["application/json"],"parameters":[{"name":"adresseKey","in":"query","description":"adresseKey","required":true,"type":"string"}],"responses":{"200":{"description":"Récupération des adresses avec succès","schema":{"type":"string"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/categorieProfessionnelle":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des categories professionnelles","description":"Le service récupère toutes les catégories professionnelles contenues dans la table de référence ''tr_cat_professionnelle''","operationId":"recupererCategorieProfessionnelleUsingGET","produces":["application/json"],"parameters":[{"name":"query","in":"query","description":"query","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des catégories professionnelles est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/civilite":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des civilités","description":"Le service récupère toutes les civilités contenues dans la table de référence ''tr_civilite''","operationId":"recupererCivilitesUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des civilités est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/classeActifsAllocation":{"get":{"tags":["Référentiel Support","Référentiel"],"summary":"Récupérer la liste des classes d'actif","description":"Le service récupère toutes les classes d'actif dans le référentiel","operationId":"recupererClasseActifsUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des classes d'actif est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/TrClasseActifDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/compartiment":{"get":{"tags":["Référentiel Contrat","Référentiel"],"summary":"Récupérer la liste des compartiments pour les contrats pacte PER","description":"Le service retourne les compartiments pour les contrats pacte PER","operationId":"recupererLesCompartimentsUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des compartiments pour les contrats pacte PER est réalisée avec succès ","schema":{"$ref":"#/definitions/DonneesReferencesDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/courtier/{courtierId}":{"get":{"tags":["Le service de recherche d'un courtier"],"summary":"récupérer un courtier","description":"récupérer un courtier par son identifiant","operationId":"recupererCourtierParIdUsingGET","produces":["application/json"],"parameters":[{"name":"courtierId","in":"path","description":"courtierId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CourtierDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/courtiers/full":{"get":{"tags":["Le service de recherche des courtiers (vendeurs/organisation)"],"summary":"Recherche des courtiers par mot cle et mode(full/light)","operationId":"getModeFullUsingGET","produces":["*/*"],"parameters":[{"name":"motCle","in":"query","description":"motCle","required":true,"type":"string"},{"name":"recupererCourtierDesactives","in":"query","description":"recupererCourtierDesactives","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"array","items":{"type":"object"}}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/courtiers/light":{"get":{"tags":["Le service de recherche des courtiers (vendeurs/organisation)"],"summary":"Recherche des courtiers par mot cle et mode(full/light)","operationId":"getModeLightUsingGET","produces":["*/*"],"parameters":[{"name":"motCle","in":"query","description":"motCle","required":true,"type":"string"},{"name":"recupererCourtierDesactives","in":"query","description":"recupererCourtierDesactives","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"array","items":{"type":"object"}}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/departement":{"get":{"tags":["Référentiel Géographique","Référentiel"],"summary":"Récupérer la liste des départements d''un pays","description":"Le service récupère tous les départements d'un pays contenus dans la table de référence ''tr_departement''","operationId":"recupererDepartementsParCodePaysUsingGET","produces":["application/json"],"parameters":[{"name":"codePays","in":"query","description":"codePays","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des départements d'un pays est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DepartementDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/destinationfonds":{"get":{"tags":["Référentiel destination fonds","Référentiel"],"summary":"Récupérer la liste des catégories de Destination des fonds.","description":"Récupérer la liste des catégories de Destination des fonds.","operationId":"getDestinationFondsUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste de destination de fonds est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/DestinationFondsDTO"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/dispositionDeces":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des dispositions de décès","description":"Le service récupére toutes les dispositions de décès contenues dans la table de référence ''tr_cc_disposition_deces''","operationId":"recupererDispositionsDecesUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des dispositions de décès est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/fonctionsrepresentantlegal":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Liste des statuts juridiques (INSEE) d'une personne morale","description":"Liste des statuts juridiques d'une personne morale (données issues de la table tr_pm_statut_juridique)","operationId":"obtenirTousLesFonctionsRepresentantUsingGET","produces":["application/json"],"responses":{"200":{"description":"Récupération de toutes les fonctions representant la personne morale ","schema":{"type":"array","items":{"$ref":"#/definitions/Fonction"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/horizonInvestissement":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des horizons d'investissement","description":"Le service récupère tous les horizons d'investissement  dans le référentiel","operationId":"recupererlesHorizonDinvestissementUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des horizon d'investissement est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/TrClasseActifDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/lienFamilial":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des liens familiaux","description":"Le service récupère tous les liens familiaux d'une personne à charge contenues dans la table de référence ''tr_cc_lien_familiale''","operationId":"recupererLaListeDesLiensFamiliauxUsingGET","produces":["application/json"],"parameters":[{"name":"query","in":"query","description":"query","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des catégories de support est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/lienParente":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des liens de parenté ","description":"Le service récupère tous les liens de parenté contenus dans la table de référence ''tr_lien_parente''","operationId":"recupererLienUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des liens de parenté est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/LienParenteRefDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/mandataireFiscal":{"get":{"tags":["Référentiel Souscription","Référentiel"],"summary":"Récupérer la liste des mandataires fiscaux","description":"Le service récupère tous les mandataires fiscaux contenus dans la table de référence ''tr_mandataire_fiscal''","operationId":"recupererMandatairesFiscauxUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des mandataires fiscaux est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesActifDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/modePaiement/{courtierId}":{"get":{"tags":["Référentiel Financier","Référentiel"],"summary":"Récupérer la liste des modes de paiement supportés par la plateforme","description":"Le service récupère toutes les modes de paiement supportés par la plateforme","operationId":"recupererModesReglementUsingGET","produces":["application/json"],"parameters":[{"name":"courtierId","in":"path","description":"courtierId","required":true,"type":"string"},{"name":"mode","in":"query","description":"mode","required":false,"type":"string","default":"INVESTISSEMENT","enum":["DESINVESTISSEMENT","INVESTISSEMENT","INVESTISSEMENT_BANQUE"]}],"responses":{"200":{"description":"La récupération de la liste des modes de paiement est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/nationalite":{"get":{"tags":["Référentiel Géographique","Référentiel"],"summary":"Récupérer la liste des nationalités","description":"Le service récupère toutes les nationalités contenues dans la table de référence ''tr_nationalite''","operationId":"recupererNationalitesUsingGET","produces":["application/json"],"parameters":[{"name":"query","in":"query","description":"query","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des nationalités est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/objectifInvestissement":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des objectifs d''investissements","description":"Le service récupère tous les objectifs d'investissements actifs contenus dans la table de référence ''tr_objectif_investissement''","operationId":"recupererObjectifsInvestissementsUsingGET","produces":["application/json"],"parameters":[{"name":"estPersonnePhysique","in":"query","description":"estPersonnePhysique","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"La récupération de la liste des objectifs d'investissments est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesActifDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/pays":{"get":{"tags":["Référentiel Géographique","Référentiel"],"summary":"Récupérer la liste des pays","description":"Le service récupère tous les pays contenus dans la table de référence ''tr_pays''","operationId":"recupererPaysUsingGET","produces":["application/json"],"parameters":[{"name":"query","in":"query","description":"query","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des pays est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/periodicite/{codeProduit}":{"get":{"tags":["Référentiel Produit","Référentiel"],"summary":"Récupérer la liste des périodicités du versement programmé","description":"Le service récupère toutes les périodicités contenues dans la table ''souscription''","operationId":"recupererLaListeDesPeriodicitesUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"Code du produit","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des périodicités est réalisée avec succès","schema":{"$ref":"#/definitions/PeriodiciteDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/personnePolitiquementExposee/fonction":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des fonctions des PPE","description":"Le service récupère toutes les fonctions des personnes politiquement exposées contenues dans la table de référence ''tr_cc_groupement_fonction''","operationId":"recupererFonctionPpeUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des fonctions des PPE est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesObjetDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/personnePolitiquementExposee/lienParente":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des liens de parenté à un PPE","description":"Le service récupère tous les liens de parenté à un personnes politiquement exposées contenus dans la table de référence nature du lien","operationId":"recupererLienPpeUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des liens de parenté à des personnes politiquement exposées est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesObjetDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/personnePolitiquementExposee/natureLien":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des groupements de nature des liens","description":"Le service récupère tous les liens de parenté à un personnes politiquement exposées contenus dans la table de référence nature du lien","operationId":"recupererGroupementNatureLienPpeUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des groupements de nature des liens est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/produit":{"get":{"tags":["Référentiel Produit","Référentiel"],"summary":"Récupérer la liste des produits","description":"Le service récupère tous les produits ouverts à la souscription","operationId":"recupererListeProduitsUsingGET","produces":["application/json"],"parameters":[{"name":"estPersonnePhysique","in":"query","description":"estPersonnePhysique","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"La récupération de la liste des produits est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/produit/{codeProduit}":{"get":{"tags":["Référentiel Produit","Référentiel"],"summary":"Récupérer les informations essentielles du produit","description":"Le service Récupère toutes les informations essentielles du produit contenues dans la table produit","operationId":"recupererProduitUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"codeProduit","required":true,"type":"string"}],"responses":{"200":{"description":"La récupération des informations essentielles du produit est réalisée avec succès ","schema":{"$ref":"#/definitions/ProduitDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/profession":{"get":{"tags":["Référentiel Profession","Référentiel"],"summary":"Le service récupère tous les profession contenus dans la table de référence ''tr_cc_profession''","description":"Le service récupère tous les profession contenus dans la table de référence ''tr_cc_profession''","operationId":"recupererProfessionUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des professions est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/profilfinancier":{"get":{"tags":["Référentiel Profils Financiers","Référentiel"],"summary":"Récupérer la liste des profils financiers","operationId":"getProfilsFinanciersUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste de profils financiers est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/TrProfilFinancierDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/questionsfiscales":{"get":{"tags":["Référentiel"],"summary":"Liste des questions fiscales","description":"Liste des questions fiscales (fatca, obligations internationales, etc...) pour une connaissance client","operationId":"getCCQuestionsFiscalesActivesUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des questions fiscales actives liées à la connaissance client PM est réalisée avec succès","schema":{"$ref":"#/definitions/QuestionFiscale"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/regimeMatrimonial":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des régimes matrimoniaux","description":"Le service récupère tous les régimes matrimoniaux contenus dans la table de référence ''tr_cc_regime_matrimonial''","operationId":"recupererRegimesMatrimoniauxUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des regimes matrimoniaux est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/rum":{"get":{"tags":["Référentiel Financier","Référentiel"],"summary":"Renvoie une Référence Unique de Mandat (RUM)","description":"Récupérer la Référence Unique de Mandat (RUM) pour le mandat de prélèvement SEPA","operationId":"recupererRumUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la Référence Unique de Mandat (RUM) pour le mandat de prélèvement SEPA","schema":{"type":"array","items":{"type":"string"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/secteurActivite":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des secteurs d''activité","description":"Le service récupère tous les secteurs activité contenus dans la table de référence ''tr_secteur_activite''","operationId":"recupererSecteurActiviteUsingGET","produces":["application/json"],"parameters":[{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"niveauReferentielInsee","in":"query","description":"Niveau du referentiel INSEE (Actuellement 1 ou 5)","required":false,"type":"integer","default":1,"format":"int32","enum":[1,5]}],"responses":{"200":{"description":"La récupération de la liste des secteurs activité est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/situationFamiliale":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des situations familiales","description":"Le service récupère toutes les situations familiales contenus dans la table de référence ''tr_cc_situation_familiale''","operationId":"recupererSituationFamilialeUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des situations familiales est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/situationProfessionelle":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des situations professionnelles","description":"Le service récupère toutes les situations professionnelles contenues dans la table de référence ''tr_cc_situation_actuelle''","operationId":"recupererSituationProfessionnelleUsingGET","produces":["application/json"],"parameters":[{"name":"query","in":"query","description":"query","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des situations professionnelles est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/DonneesReferencesDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/statutsjuridique":{"get":{"tags":["Référentiel de tous les status juridique","Référentiel"],"summary":"Liste des statuts juridiques d'une personne morale","description":"Liste des statuts juridiques d'une personne morale (données issues de la table tr_pm_statut_juridique)","operationId":"recupererTousLesStatusJuridiqueUsingGET","produces":["application/json"],"parameters":[{"name":"libelle","in":"query","description":"libelle","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de tous les status juridiques, est réalisée avec succès ","schema":{"$ref":"#/definitions/StatutJuridique"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/support":{"get":{"tags":["Référentiel Support","Référentiel"],"summary":"Recuperer la liste des supports","description":"Recupere la liste des supports","operationId":"rechercherSupportUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"query","description":"codeProduit","required":false,"type":"string"},{"name":"codeProfilGestion","in":"query","description":"codeProfilGestion","required":false,"type":"string"},{"name":"supZoneGeo","in":"query","description":"supZoneGeo","required":false,"type":"string"},{"name":"societe","in":"query","description":"societe","required":false,"type":"string"},{"name":"codeIsin","in":"query","description":"codeIsin","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle","in":"query","description":"libelle","required":false,"type":"string"},{"name":"classeActif","in":"query","description":"classeActif","required":false,"type":"string"},{"name":"typeCategorie","in":"query","description":"typeCategorie","required":false,"type":"string"},{"name":"risqueMin","in":"query","description":"risqueMin","required":false,"type":"integer","format":"int32"},{"name":"risqueMax","in":"query","description":"risqueMax","required":false,"type":"integer","format":"int32"},{"name":"seniorMin","in":"query","description":"seniorMin","required":false,"type":"integer","format":"int32"},{"name":"seniorMax","in":"query","description":"seniorMax","required":false,"type":"integer","format":"int32"},{"name":"juniorMin","in":"query","description":"juniorMin","required":false,"type":"integer","format":"int32"},{"name":"juniorMax","in":"query","description":"juniorMax","required":false,"type":"integer","format":"int32"},{"name":"isInvestissementProgramme","in":"query","description":"isInvestissementProgramme","required":false,"type":"boolean"},{"name":"isVersementInitialAvecVP","in":"query","description":"isVersementInitialAvecVP","required":false,"type":"boolean"},{"name":"eligibleOptionArbitrage","in":"query","description":"eligibleOptionArbitrage","required":false,"type":"boolean"},{"name":"eligibleOptionArbitrageSansFondsEuro","in":"query","description":"eligibleOptionArbitrageSansFondsEuro","required":false,"type":"boolean"},{"name":"desinvestissement","in":"query","description":"desinvestissement","required":false,"type":"boolean"}],"responses":{"200":{"description":"La récupération de la liste des supports est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/la liste des supports"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/support/investissement/{codeProduit}":{"get":{"tags":["Référentiel Support","Référentiel"],"summary":"Récupérer la liste des supports éligibles en mode investissement","description":"Récupère la liste des supports éligibles en mode investissement","operationId":"recupererLaListeDesSupportsElegibleInvestissementUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"codeProduit","required":true,"type":"string"},{"name":"codeProfilGestion","in":"query","description":"codeProfilGestion","required":false,"type":"string"},{"name":"supZoneGeo","in":"query","description":"supZoneGeo","required":false,"type":"string"},{"name":"societe","in":"query","description":"societe","required":false,"type":"string"},{"name":"codeIsin","in":"query","description":"codeIsin","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle","in":"query","description":"libelle","required":false,"type":"string"},{"name":"classeActif","in":"query","description":"classeActif","required":false,"type":"string"},{"name":"typeCategorie","in":"query","description":"typeCategorie","required":false,"type":"string"},{"name":"risqueMin","in":"query","description":"risqueMin","required":false,"type":"integer","format":"int32"},{"name":"risqueMax","in":"query","description":"risqueMax","required":false,"type":"integer","format":"int32"},{"name":"seniorMin","in":"query","description":"seniorMin","required":false,"type":"integer","format":"int32"},{"name":"seniorMax","in":"query","description":"seniorMax","required":false,"type":"integer","format":"int32"},{"name":"juniorMin","in":"query","description":"juniorMin","required":false,"type":"integer","format":"int32"},{"name":"juniorMax","in":"query","description":"juniorMax","required":false,"type":"integer","format":"int32"},{"name":"isInvestissementProgramme","in":"query","description":"isInvestissementProgramme","required":false,"type":"boolean"},{"name":"isVersementInitialAvecVP","in":"query","description":"isVersementInitialAvecVP","required":false,"type":"boolean"},{"name":"eligibleOptionArbitrage","in":"query","description":"eligibleOptionArbitrage","required":false,"type":"boolean"},{"name":"eligibleOptionArbitrageSansFondsEuro","in":"query","description":"eligibleOptionArbitrageSansFondsEuro","required":false,"type":"boolean"}],"responses":{"200":{"description":"La récupération de la liste des supports éligibles à l'investissement du projet {id} est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/la liste des supports"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/support/vp":{"get":{"tags":["Référentiel Support","Référentiel"],"summary":"Récupérer la liste des supports éligibles au versement programmé","description":"Le service récupère la liste des supports éligibles au versement programmé","operationId":"recupererLaListeDesSupportsParIsinOuLibelleVPUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"query","description":"codeProduit","required":false,"type":"string"},{"name":"codeProfilGestion","in":"query","description":"codeProfilGestion","required":false,"type":"string"},{"name":"isin","in":"query","description":"isin","required":false,"type":"string"},{"name":"libelle","in":"query","description":"libelle","required":false,"type":"string"},{"name":"max","in":"query","description":"max","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"La récupération de la liste des codes isin et libelés est réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/SupportDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/support/{isin}/fiche":{"get":{"tags":["Référentiel Support","Référentiel"],"summary":"Récupère la fiche du support","description":"Récupère la fiche du support","operationId":"recupererLaFicheDuSupportUsingGET","produces":["application/json"],"parameters":[{"name":"isin","in":"path","description":"isin","required":true,"type":"string"}],"responses":{"200":{"description":"La récupération de la fiche réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/SupportDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/support/{isin}/pdf":{"get":{"tags":["Référentiel Support","Référentiel"],"summary":"Récupère la documentation du support","description":"Récupère la documentation du support","operationId":"recupererLePdfDuSupportUsingGET","produces":["application/json"],"parameters":[{"name":"isin","in":"path","description":"isin","required":true,"type":"string"},{"name":"Accept-Language","in":"header","description":"Accept-Language","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération du DIC réalisée avec succès","schema":{"type":"array","items":{"$ref":"#/definitions/SupportDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/telephone/indicatif":{"get":{"tags":["Référentiel Géographique","Référentiel"],"summary":"Récupérer la liste des indicatifs","description":"Le service récupère tous les indicatifs contenus dans la table de référence ''tr_indicatif''","operationId":"recupererIndicatifsUsingGET","produces":["application/json"],"parameters":[{"name":"query","in":"query","description":"query","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des indicatifs est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/TrIndicatifDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/typeDocument":{"get":{"tags":["Référentiel Document","Référentiel"],"summary":"Récupérer la liste des types de documents","description":"Le service récupère tous les types de document contenus dans la table de référence ''tr_doc_categorie''","operationId":"recupererTypeDocumentUsingGET","produces":["application/json"],"parameters":[{"name":"docAno","in":"query","description":"docAno","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"La récupération de la liste des types de documents est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/SousCategorieDocumentDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/typePatrimoine":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des types de patrimoines","description":"Le service récupère tous les types de patrimoines contenus dans la table de référence ''tr_cc_type_patrimoine''","operationId":"recupererTypePatrimoineUsingGET","produces":["application/json"],"parameters":[{"name":"cad","in":"query","description":"cad","required":false,"type":"boolean","default":false},{"name":"estPersonnePhysique","in":"query","description":"estPersonnePhysique","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"La récupération de la liste des types de patrimoines est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/TypePatrimoineOuRevenuDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/typeRevenu":{"get":{"tags":["Référentiel Connaissance Client","Référentiel"],"summary":"Récupérer la liste des types de revenus","description":"Le service récupère tous les types de revenus contenus dans la table de référence ''tr_cc_type_revenu''","operationId":"recupererTypeRevenuUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des types de revenus est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/TypePatrimoineOuRevenuDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/typeSouscription":{"get":{"tags":["Référentiel Souscription","Référentiel"],"summary":"Récupérer les types d''une souscription","description":"Le service retourne les types possibles pour une souscription","operationId":"recupererLesTypesDeSouscriptionUsingGET","produces":["application/json"],"parameters":[{"name":"estPersonnePhysique","in":"query","description":"estPersonnePhysique","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"La récupération de la liste des types de la souscription est réalisée avec succès ","schema":{"$ref":"#/definitions/DonneesReferencesDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/typecontrat":{"get":{"tags":["Référentiel Contrat","Référentiel"],"summary":"Récupérer les types d'un contrat","description":"Le service retourne les types possibles d'un contrat","operationId":"recupererLesTypesDeContratUsingGET","produces":["application/json"],"responses":{"200":{"description":"La récupération de la liste des types d'un contrat est réalisée avec succès ","schema":{"$ref":"#/definitions/TypeContratDto"}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/uniteCompte/frais/{codeProduit}":{"get":{"tags":["Référentiel Produit","Référentiel"],"summary":"Récupérer la liste des taux de frais encours UC pour un produit","description":"Le service récupère tous les taux de frais encours d'un produit contenus dans la table de référence ''tr_frais_encours''","operationId":"recupererFraisEncoursDtoParCodeProduitUsingGET","produces":["application/json"],"parameters":[{"name":"codeProduit","in":"path","description":"Code du produit","required":false,"type":"string"}],"responses":{"200":{"description":"La récupération de la liste des frais encours pour un produit est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/FraisEncoursDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}},"/referentiel/ville":{"get":{"tags":["Référentiel Géographique","Référentiel"],"summary":"Récupérer la liste des villes d''un pays","description":"Le service récupère toutes les villes d'un pays contenues dans la table de référence ''tr_ville''","operationId":"recupererVillesParCodePaysUsingGET","produces":["application/json"],"parameters":[{"name":"codePays","in":"query","description":"codePays","required":false,"type":"string"},{"name":"codeDepartement","in":"query","description":"codeDepartement","required":false,"type":"string"},{"name":"query","in":"query","description":"query","required":false,"type":"string"},{"name":"rechercheExacte","in":"query","description":"rechercheExacte","required":false,"type":"boolean","default":false},{"name":"rechercheEtendue","in":"query","description":"rechercheEtendue","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"La récupération de la liste des villes d'un pays est réalisée avec succès ","schema":{"type":"array","items":{"$ref":"#/definitions/VilleDto"}}},"201":{"description":"La ressource a été créée avec succès"},"204":{"description":"Aucun contenu trouvé"},"400":{"description":"La syntaxe de la requête est erronée"},"401":{"description":"Vous devez vous authentifier pour réaliser cette opération"},"403":{"description":"Vous n'êtes pas autorisé à réaliser cette opération"},"404":{"description":"La ressource n'a pas été trouvée"}}}}},"definitions":{"BaseCourtierDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"libelle":{"type":"string"}},"title":"BaseCourtierDTO"},"CourtierDto":{"type":"object","required":["adresse1","adresse2","civilite","codePostal","dateConnexion","dateDerniereConnexion","dateNaissance","lieudDeNaissance","nom","nomNaissance","pays","prenom","ville"],"properties":{"adresse1":{"type":"string","description":"Première ligne de l'adresse de l'assuré/du souscripteur","allowEmptyValue":false},"adresse2":{"type":"string","description":"Deuxième ligne de l'adresse de l'assuré/du souscripteur","allowEmptyValue":false},"adresse3":{"type":"string"},"civilite":{"type":"string","description":"Civilité de l'assuré/du souscripteur","allowEmptyValue":false},"codePostal":{"type":"string","description":"Lieu de naissance de l'assuré/du souscripteur","allowEmptyValue":false},"dateConnexion":{"type":"string","format":"date-time","description":"Date de connexion","allowEmptyValue":false},"dateDerniereConnexion":{"type":"string","format":"date-time","description":"Date de dernière connexion","allowEmptyValue":false},"dateNaissance":{"type":"string","format":"date-time","description":"Date de naissance de l'assuré/du souscripteur","allowEmptyValue":false},"entrepriseReferenceEditique":{"type":"string"},"idOrgaLiferay":{"type":"integer","format":"int64"},"identifiant":{"type":"string","description":"identifiant client","allowEmptyValue":false},"lieudDeNaissance":{"type":"string","description":"Lieu de naissance de l'assuré/du souscripteur","allowEmptyValue":false},"nom":{"type":"string","description":"Nom de l'assuré/du souscripteur","allowEmptyValue":false},"nomNaissance":{"type":"string","description":"Nom de naissance","allowEmptyValue":false},"pays":{"type":"string","description":"Pays de l'assuré/du souscripteur","allowEmptyValue":false},"prenom":{"type":"string","description":"Prénom de l'assuré/du souscripteur","allowEmptyValue":false},"representantLegal":{"type":"string"},"telephoneResponsable":{"type":"string"},"ville":{"type":"string","description":"Lieu de naissance de l'assuré/du souscripteur","allowEmptyValue":false}},"title":"CourtierDto"},"DTO de Profession":{"type":"object","properties":{"code":{"type":"string","description":"com.apicil.cosy.referentiel.domain.dto.TrCCProfessionDto.code","allowEmptyValue":false},"libelle":{"type":"string","description":"com.apicil.cosy.referentiel.domain.dto.TrCCProfessionDto.libelle","allowEmptyValue":false}},"title":"DTO de Profession","description":"ce JSON est utilisé lors de la création et la modification de la profession"},"DepartementDto":{"type":"object","required":["ccGroupement","code","codeRegion","libelle"],"properties":{"ccGroupement":{"type":"string","description":"Libellé du regroupement","allowEmptyValue":false},"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"codeRegion":{"type":"integer","format":"int32","description":"Code de la région","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false}},"title":"DepartementDto"},"DestinationFondsDTO":{"type":"object","properties":{"code":{"type":"string"},"codeSunshine":{"type":"string"},"colonneCible":{"type":"string"},"commentaireRequis":{"type":"boolean"},"descriptif":{"type":"string"},"icone":{"type":"string"},"libelle":{"type":"string"},"ordre":{"type":"integer","format":"int32"}},"title":"DestinationFondsDTO"},"DonneesReferencesActifDto":{"type":"object","required":["code","libelle"],"properties":{"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false}},"title":"DonneesReferencesActifDto"},"DonneesReferencesDto":{"type":"object","required":["code","libelle"],"properties":{"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false}},"title":"DonneesReferencesDto"},"DonneesReferencesObjetDto":{"type":"object","required":["ccGroupement","code","libelle"],"properties":{"ccGroupement":{"type":"string","description":"Libellé du regroupement","allowEmptyValue":false},"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false}},"title":"DonneesReferencesObjetDto"},"DureeDto":{"type":"object","required":["code","libelle"],"properties":{"code":{"type":"string","description":"Le code de la durée","allowEmptyValue":false},"libelle":{"type":"string","description":"Le libelle de la durée","allowEmptyValue":false}},"title":"DureeDto"},"Fonction":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code fonction du representant légal","allowEmptyValue":false,"minLength":1,"maxLength":10},"libelle":{"type":"string","description":"Libelle fonction du representant légal","allowEmptyValue":false}},"title":"Fonction"},"FraisEncoursDto":{"type":"object","required":["code","libelle","taux","tauxCompagnie"],"properties":{"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false},"taux":{"type":"number","example":4.56,"description":"Taux","allowEmptyValue":false},"tauxCompagnie":{"type":"number","example":4.56,"description":"Taux compagnie","allowEmptyValue":false}},"title":"FraisEncoursDto"},"LienParenteRefDto":{"type":"object","required":["code","libelle"],"properties":{"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false}},"title":"LienParenteRefDto"},"ModeGestionDto":{"type":"object","properties":{"code":{"type":"string"},"codeApicil":{"type":"string"},"dda":{"type":"integer","format":"int32"},"descriptif":{"type":"string"},"favori":{"type":"boolean"},"libelle":{"type":"string"},"ordre":{"type":"integer","format":"int32"},"societesDeGestion":{"type":"array","items":{"$ref":"#/definitions/SocieteGestionDto"}},"souscription":{"type":"boolean"},"suggererProfil":{"type":"boolean"},"surtauxEncours":{"type":"number","example":4.56,"allowEmptyValue":false},"surtauxMax":{"type":"number","example":4.56,"allowEmptyValue":false},"thematiques":{"type":"array","items":{"$ref":"#/definitions/ThematiqueRecuperationDto"}},"type":{"$ref":"#/definitions/DonneesReferencesDto"},"typeLibre":{"type":"boolean"},"versementMin":{"$ref":"#/definitions/VersementMinDto"}},"title":"ModeGestionDto"},"OrganisationDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"libelle":{"type":"string"},"organisationMere":{"$ref":"#/definitions/OrganisationDTO"},"resilee":{"type":"boolean"},"type":{"type":"string","enum":["SEGMENTATION","AFFILIATION","ORGANISATION","ORGANISATION_CHAPPEAU","ORGANISATION_RACINE"]},"utilisateurs":{"type":"array","items":{"$ref":"#/definitions/UserDTO"}}},"title":"OrganisationDTO"},"PeriodiciteDto":{"type":"object","required":["code","libelle"],"properties":{"code":{"type":"string","description":"Code périodicité","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé périodicité","allowEmptyValue":false},"minVersement":{"type":"string","description":"Le minimum du versement programmé","allowEmptyValue":false}},"title":"PeriodiciteDto"},"ProduitDto":{"type":"object","required":["accInitProduit","arbitrage","code","codeApicil","dureeFixeMaximumAnnees","dureeFixeMinimumAnnees","fraisVersementMaximum","fraisVersementMinimum","fraisVersementPackMaximum","fraisVersementPackMinimum","garantiePlancher","libelle","rachatPartiel","rachatTotal","sousVpRepartitionSpecifique","tauxArbitrageApporteur","tauxArbitrageCompagnie","tauxArbitrageParametrable","tauxMaxFESpecVersInitialSouscription","tauxMaxFondsEurosGlobalArbitrage","tauxMaxFondsEurosGlobalOpeModeGestion","tauxMaxFondsEurosGlobalVC","tauxMaxFondsEurosGlobalVP","tauxMaxFondsEurosOpeModeGestion","tauxMaxFondsEurosOpeVersementInitial","tauxMaxFondsEurosSpecifiquesOpeModeGestion","tauxMaximumArbitrageFondEuro","tauxMaximumArbitrageFondEuroSpec","tauxMaximumVCFondEuro","tauxMaximumVCFondEuroSpec","tauxMaximumVPFondEuro","tauxMaximumVPFondEuroSpec","tauxMinimumArbitrageFondEuro","tauxMinimumModeGestionFondEuro","tauxMinimumVCFondEuro","tauxMinimumVPFondEuro","tauxOptionArbitrageApporteur","tauxOptionArbitrageCompagnie","tauxOptionArbitrageParametrable","tauxVersementApporteur","tauxVersementCompagnie","type","versementInitialMinimum","versementInitialMinimumSiProgr","versementProgramme","versementProgrammeMinAnnuel","versementProgrammeMinMens","versementProgrammeMinSemestr","versementProgrammeMinTri"],"properties":{"accInitProduit":{"type":"boolean","example":false,"description":"Acctualisation de la connaissance client","allowEmptyValue":false},"ageMaxSouGarantiePlancher":{"type":"integer","format":"int32","description":"Age max pour la garantie plancher","allowEmptyValue":false},"ageMinSouGarantiePlancher":{"type":"integer","format":"int32","description":"Age min pour la garantie plancher","allowEmptyValue":false},"arbitrage":{"type":"boolean","example":false,"description":"Autorisation de l'opération d'arbitrage","allowEmptyValue":false},"beneficiaires":{"type":"array","description":"La liste des clauses bénéficiaires","allowEmptyValue":false,"items":{"$ref":"#/definitions/DonneesReferencesDto"}},"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"codeApicil":{"type":"string","description":"Le code Apicil du produit","allowEmptyValue":false},"composantAllocation":{"type":"boolean","example":false,"description":"Composant allocation","allowEmptyValue":false},"conformiteLux":{"type":"boolean","example":false,"description":"l'affichage ou non de la conformité Luxembourgeoise","allowEmptyValue":false},"derogationFraisVC":{"type":"boolean","example":false,"description":"activation de la dérogation des frais compagnie en mode taux","allowEmptyValue":false},"destinataireReglementVersement":{"type":"string","description":"Information sur l'adresse d'envoi du courrier postale","allowEmptyValue":false},"devoirConseil":{"type":"boolean","example":false,"description":"Devoir de conseil","allowEmptyValue":false},"dureeFixeMaximumAnnees":{"type":"integer","format":"int32","description":"Durée fixe Maximum d'années","allowEmptyValue":false},"dureeFixeMinimumAnnees":{"type":"integer","format":"int32","description":"Durée fixe Minimum d'années","allowEmptyValue":false},"fraisFixEndSurArbitrage":{"type":"string","description":"Taux de frais sur arbitrage","allowEmptyValue":false},"fraisIncompressibleArbitrage":{"type":"boolean","example":false,"description":"Flag qui vaut 1 si la derogation a l''incompressible frais sur arbitrage est autorisee, 0 sinon","allowEmptyValue":false},"fraisVersementMaximum":{"type":"number","example":4.56,"description":"Frais de versement maximum","allowEmptyValue":false},"fraisVersementMinimum":{"type":"number","example":4.56,"description":"Frais de versement minimum","allowEmptyValue":false},"fraisVersementPackMaximum":{"type":"number","example":4.56,"description":"Frais de versement pack maximum","allowEmptyValue":false},"fraisVersementPackMinimum":{"type":"number","example":4.56,"description":"Frais de versement pack minimum","allowEmptyValue":false},"garantiePlancher":{"type":"integer","format":"int32","description":"Flag qui vaut 1 si l'option \"garantie plancher\" est autorisée pour le produit, vaut 0 sinon, 2 pour MO/Admin Métier uniquement","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false},"lienBulttetinTransfert":{"type":"string","description":"Le lien pour telecharger le template de transfert","allowEmptyValue":false},"montantFraisIncompressibleArbitrage":{"type":"number","description":"Le frais incompressible sur arbitrage","allowEmptyValue":false},"optionArbitrages":{"type":"array","description":"La liste des options d''arbitrage programmés disponible pour le produit.","allowEmptyValue":false,"items":{"$ref":"#/definitions/TrOptionArbitrageDto"}},"ouvertPersonneMorale":{"type":"boolean","example":false,"description":"Eligibilité du produit à la personne morale","allowEmptyValue":false},"plafondVersements":{"type":"number","description":"Plafond versements","allowEmptyValue":false},"profondeurHistorique":{"type":"string","description":"la profondeur d'historique","allowEmptyValue":false},"rachatPartiel":{"type":"boolean","example":false,"description":"Autorisation de l'opération rachat partiel","allowEmptyValue":false},"rachatTotal":{"type":"boolean","example":false,"description":"Autorisation de l'opération rachat total","allowEmptyValue":false},"sousVpRepartitionSpecifique":{"type":"boolean","example":false,"description":"Indique la possibilité de répartir des supports pour les versements programmés lors d'une souscription sur un produit","allowEmptyValue":false},"tauxArbitrageApporteur":{"type":"number","example":4.56,"description":"Taux des frais sur arbitrage destinés à l'apporteur (CGP + CoSy)","allowEmptyValue":false},"tauxArbitrageCompagnie":{"type":"number","example":4.56,"description":"Taux des frais sur arbitrage destinés à la compagnie (APICIL)","allowEmptyValue":false},"tauxArbitrageParametrable":{"type":"boolean","example":false,"description":"Indicateur qui vaut 1 si le taux des frais d'arbitrage de l'apporteur peut être redéfini pour un CGP, vaut 0 sinon","allowEmptyValue":false},"tauxMaxFESpecVersInitialSouscription":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers les fonds euros spécifique au global du produit lors d'une souscription. ","allowEmptyValue":false},"tauxMaxFondsEurosGlobalArbitrage":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers les fonds euros au global du produit lors d'un arbitrage.","allowEmptyValue":false},"tauxMaxFondsEurosGlobalOpeModeGestion":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers les fonds euros au global du produit lors d'un changement de mode de gestion.","allowEmptyValue":false},"tauxMaxFondsEurosGlobalVC":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers les fonds euros au global du produit lors d'un versement complémentaire.","allowEmptyValue":false},"tauxMaxFondsEurosGlobalVP":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers les fonds euros au global du produit lors d'un versement programme.","allowEmptyValue":false},"tauxMaxFondsEurosOpeModeGestion":{"type":"number","example":4.56,"description":"Taux maximum d'investissement du versement initial vers le(s) fonds euros du produit lors d'un changement de mode de gestion. ","allowEmptyValue":false},"tauxMaxFondsEurosOpeVersementInitial":{"type":"number","example":4.56,"description":"Taux maximum d'investissement du versement initial vers le(s) fonds euros du produit lors d'une souscription. ","allowEmptyValue":false},"tauxMaxFondsEurosSpecifiquesOpeModeGestion":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers le(s) fonds euros spécifique du produit lors d'un changement de mode de gestion.","allowEmptyValue":false},"tauxMaximumArbitrageFondEuro":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers le(s) fonds euros du produit lors d'un arbitrage.","allowEmptyValue":false},"tauxMaximumArbitrageFondEuroSpec":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers le(s) fonds euros spécifiques du produit lors d'un arbitrage.","allowEmptyValue":false},"tauxMaximumVCFondEuro":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers le(s) fonds euros du produit lors d'un versement complémentaire.","allowEmptyValue":false},"tauxMaximumVCFondEuroSpec":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers le(s) fonds euros spécifique du produit lors d'un versement complémentaire.","allowEmptyValue":false},"tauxMaximumVPFondEuro":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers le(s) fonds euros du produit lors d'un versement programme.","allowEmptyValue":false},"tauxMaximumVPFondEuroSpec":{"type":"number","example":4.56,"description":"Taux maximum d'investissement vers le(s) fonds euros spécifique du produit lors d'un versement programme.","allowEmptyValue":false},"tauxMinimumArbitrageFondEuro":{"type":"number","example":4.56,"description":"Taux minimum d'investissement vers le(s) fonds euros du produit lors d'un arbitrage.","allowEmptyValue":false},"tauxMinimumModeGestionFondEuro":{"type":"number","example":4.56,"description":"Taux minimum d'investissement vers le(s) fonds euros du produit lors d'un changement de mode de gestion.","allowEmptyValue":false},"tauxMinimumVCFondEuro":{"type":"number","example":4.56,"description":"Taux minimum d'investissement vers le(s) fonds euros du produit lors d'un versement complémentaire.","allowEmptyValue":false},"tauxMinimumVPFondEuro":{"type":"number","example":4.56,"description":"Taux minimum d'investissement vers le(s) fonds euros du produit lors d'un versement programme.","allowEmptyValue":false},"tauxOptionArbitrageApporteur":{"type":"number","example":4.56,"description":"Taux des frais sur option d'arbitrage destinés à l'apporteur (CGP + CoSy)","allowEmptyValue":false},"tauxOptionArbitrageCompagnie":{"type":"number","example":4.56,"description":"Taux des frais sur option d'arbitrage destinés à la compagnie (APICIL)","allowEmptyValue":false},"tauxOptionArbitrageParametrable":{"type":"boolean","example":false,"description":"Indicateur qui vaut 1 si le taux des frais d'option d'arbitrage de l'apporteur peut être redéfini pour un CGP, vaut 0 sinon","allowEmptyValue":false},"tauxVersementApporteur":{"type":"number","example":4.56,"description":"Taux des frais sur versement destinés à l'apporteur (CGP + CoSy)","allowEmptyValue":false},"tauxVersementCompagnie":{"type":"number","example":4.56,"description":"Taux des frais sur versement destinés à la compagnie (APICIL)","allowEmptyValue":false},"transfertCible":{"type":"boolean","example":false,"description":"Transfert cible","allowEmptyValue":false},"transfertContrat":{"type":"boolean","example":false,"description":"Indicateur permettant d''indiquer si le produit contient une promesse de transfert d'un contrat.","allowEmptyValue":false},"transfertSource":{"type":"boolean","example":false,"description":"Transfert source","allowEmptyValue":false},"type":{"type":"string","description":"Le type du produit","allowEmptyValue":false,"enum":["AV","PERE","MADELIN","MS","PERP","ART82","ART83","CAPI","PRDEF","ART39","PERIN","CT"]},"typeParametrageFraisEncoursUc":{"type":"string","description":"Flag qui vaut 1 si le taux de frais sur arbitrage de l'apporteur peut etre redefini pour un CGP, vaut 0 sinon","allowEmptyValue":false},"versementInitialMinimum":{"type":"number","example":4.56,"description":"Le versement initial minimum","allowEmptyValue":false},"versementInitialMinimumSiProgr":{"type":"number","example":4.56,"description":"Le versement initial du versement programmé","allowEmptyValue":false},"versementProgramme":{"type":"boolean","example":false,"description":"Autorisation du versement programmé","allowEmptyValue":false},"versementProgrammeMinAnnuel":{"type":"number","example":4.56,"description":"Versement Programmé Minimum annuel","allowEmptyValue":false},"versementProgrammeMinMens":{"type":"number","example":4.56,"description":"Versement Programmé Minimum mensuel","allowEmptyValue":false},"versementProgrammeMinSemestr":{"type":"number","example":4.56,"description":"Versement Programmé Minimum semestriel","allowEmptyValue":false},"versementProgrammeMinTri":{"type":"number","example":4.56,"description":"Versement Programmé Minimum trimestriel","allowEmptyValue":false},"versementRib":{"type":"string","description":"Le nom du document RIB","allowEmptyValue":false},"version":{"type":"string","description":"Version du produit.","allowEmptyValue":false}},"title":"ProduitDto"},"ProduitReferentielDto":{"type":"object","required":["code","libelle"],"properties":{"accessAlliance":{"type":"boolean"},"ageMax":{"type":"integer","format":"int32"},"ageMin":{"type":"integer","format":"int32"},"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"description":{"type":"string"},"devoirConseil":{"type":"boolean"},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false},"lienDic":{"type":"boolean"},"lienDip":{"type":"boolean"},"ouvertPersonneMorale":{"type":"boolean"},"ouvertSouscription":{"type":"boolean"},"transfertCible":{"type":"boolean"},"transfertSource":{"type":"boolean"},"typeProduit":{"type":"string"},"typesSouscription":{"type":"array","items":{"$ref":"#/definitions/TypeSouscriptionDto"}},"version":{"type":"string","description":"Version du produit.","allowEmptyValue":false}},"title":"ProduitReferentielDto"},"ProfilInvestissementDto":{"type":"object","properties":{"code":{"type":"string"},"descriptif":{"type":"string"},"favori":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"libelle":{"type":"string"},"ordre":{"type":"integer","format":"int32"}},"title":"ProfilInvestissementDto"},"QuestionFiscale":{"type":"object","required":["code","libelle"],"properties":{"code":{"type":"string","description":"Code d'une question fiscale","allowEmptyValue":false,"minLength":0,"maxLength":5},"libelle":{"type":"string","description":"Libelle d'une question fiscale","allowEmptyValue":false}},"title":"QuestionFiscale"},"QuestionSupportStructureDto":{"type":"object","properties":{"code":{"type":"string"},"libelle":{"type":"string"}},"title":"QuestionSupportStructureDto"},"RecuperationOrientationDto":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code de l'orientation","allowEmptyValue":false,"minLength":0,"maxLength":4},"descriptif":{"type":"string"},"id":{"type":"integer","format":"int64"},"libelleCourt":{"type":"string"},"ordre":{"type":"integer","format":"int32"},"orientationParenteId":{"type":"integer","format":"int64"},"risque":{"type":"integer","format":"int32"}},"title":"RecuperationOrientationDto"},"RendementSupportDto":{"type":"object","properties":{"annee":{"type":"integer","format":"int32","description":"L''année du rendement","allowEmptyValue":false},"rendement":{"type":"number","example":4.56,"description":"Le rendement","allowEmptyValue":false}},"title":"RendementSupportDto","description":"Rendement d'un support"},"Resource":{"type":"object","title":"Resource"},"SocieteGestionDto":{"type":"object","properties":{"descriptifOrientation":{"type":"string"},"id":{"type":"integer","format":"int64"},"libelle":{"type":"string"},"libelleCourt":{"type":"string"},"orientations":{"type":"array","items":{"$ref":"#/definitions/RecuperationOrientationDto"}},"surtauxEncours":{"type":"number","example":4.56,"allowEmptyValue":false},"surtauxMax":{"type":"number","example":4.56,"allowEmptyValue":false}},"title":"SocieteGestionDto"},"SousCategorieDocumentDto":{"type":"object","required":["code","codeCategorie","libelle","libelleCategorie","parent"],"properties":{"code":{"type":"string","description":"Code du document sous-catégorie","allowEmptyValue":false},"codeCategorie":{"type":"string","description":"Code du document catégorie","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé du document sous-catégorie","allowEmptyValue":false},"libelleCategorie":{"type":"string","description":"Libellé du document catégorie","allowEmptyValue":false},"parent":{"description":"Sous-catégorie parent","allowEmptyValue":false,"$ref":"#/definitions/SousCategorieDocumentDto"}},"title":"SousCategorieDocumentDto"},"StatutJuridique":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Le code INSEE du statut juridique de la PM","allowEmptyValue":false,"minLength":1,"maxLength":4},"libelle":{"type":"string","description":"Le libelle du statut juridique de la PM (Optionel en saisie)","allowEmptyValue":false,"minLength":0,"maxLength":200}},"title":"StatutJuridique","description":"Container du statut juridique de la PM (Le libelle sert lors de la restitution, optionelle en saisie)"},"SupportDetailDto":{"type":"object","required":["isinCode","libelle","lienDic","lienFiche","notation","perf1a","perf3a","perf5a","perfYtd","rendementSupport","risque","societe","typeSupport","urlExterne"],"properties":{"description":{"type":"string","description":"description d'UPs","allowEmptyValue":false},"eligibleOptionsAbitrages":{"type":"boolean"},"eligibleVP":{"type":"boolean"},"flagCotation":{"type":"boolean","example":false,"description":"Définir si le titre est côtés ou pas","allowEmptyValue":false},"fondsEuroSpecifique":{"type":"boolean","example":false,"description":"Est support fonds Euro spécifique","allowEmptyValue":false},"fraisLimitMin":{"type":"number","description":"Comptes titres uniquement : Montant de frais minimum d'investissement sur le support","allowEmptyValue":false},"fraisTauxMax":{"type":"number","description":"Comptes titres uniquement : Taux de frais maximum sur le support","allowEmptyValue":false},"fraisTauxMin":{"type":"number","description":"Comptes titres uniquement : Taux de frais minimum sur le support","allowEmptyValue":false},"isinCode":{"type":"string","description":"Code ISIN du support","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé du support","allowEmptyValue":false},"lienDic":{"type":"boolean","example":false,"description":"Présence du lien de la documentation du support","allowEmptyValue":false},"lienFiche":{"type":"boolean","example":false,"description":"Présence du lien de la fiche du support","allowEmptyValue":false},"logo":{"type":"string","description":"chemin du logo d'UPs","allowEmptyValue":false},"minArbitrage":{"type":"number","description":"montant minimum d'investissement sur l'arbitrage pour les UPs","allowEmptyValue":false},"minInvestissement":{"type":"number","description":"Comptes titres uniquement : Montant minimum d'investissement sur le support","allowEmptyValue":false},"minVersementComplementaire":{"type":"number","description":"montant minimum d'investissement sur le versement complémenataire pour les UPs","allowEmptyValue":false},"minVersementInitial":{"type":"number","description":"montant minimum d'investissement sur le versement initial pour les UPs","allowEmptyValue":false},"minVersementProgramme":{"type":"number","description":"montant minimum d'investissement sur le versement programmé pour les UPs","allowEmptyValue":false},"nomSupport":{"type":"string","description":"Nom du support","allowEmptyValue":false},"notation":{"type":"string","description":"Notation du support","allowEmptyValue":false},"optionActive":{"type":"boolean","example":false,"description":"Comptes titres uniquement : Flag informatif sur la disponibilitée des options (Stop Loss / Win) sur le support","allowEmptyValue":false},"perf1a":{"type":"number","example":4.56,"description":"Perf 1 an","allowEmptyValue":false},"perf3a":{"type":"number","example":4.56,"description":"Perf 3 an","allowEmptyValue":false},"perf5a":{"type":"number","example":4.56,"description":"Perf 5 an","allowEmptyValue":false},"perfYtd":{"type":"number","example":4.56,"description":"Perf YTD\t","allowEmptyValue":false},"rendementSupport":{"type":"array","description":"Le rendement du support sur les cinqu dernières années","allowEmptyValue":false,"items":{"$ref":"#/definitions/RendementSupportDto"}},"risque":{"type":"integer","format":"int32","description":"Risque du support","allowEmptyValue":false},"societe":{"type":"string","description":"Société du support","allowEmptyValue":false},"specifique":{"type":"boolean","example":false,"description":"Flag indication de fonds specifique","allowEmptyValue":false},"typeMinInvestissement":{"type":"string","description":"Comptes titres uniquement : Type de montant d'investissement minimum sur le support (FIXE ou VL)","allowEmptyValue":false},"typeSupport":{"type":"string","description":"Type du support","allowEmptyValue":false,"enum":["FONDS_EURO","SCPI","PRODUIT_STRUCTURE","OPC","AUTRE","OPC_AUTRE","UP","UC","ETF"]},"urlExterne":{"type":"string","description":"Lien externe du document du support","allowEmptyValue":false}},"title":"SupportDetailDto","description":"Support avec détails"},"SupportDto":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code ISIN du support","allowEmptyValue":false},"description":{"type":"string"},"eligibleOptionsAbitrages":{"type":"boolean"},"eligibleVP":{"type":"boolean"},"flagCotation":{"type":"boolean"},"fondsEuroSpecifique":{"type":"boolean"},"fraisLimitMin":{"type":"number"},"fraisTauxMax":{"type":"number"},"fraisTauxMin":{"type":"number"},"libelle":{"type":"string","description":"Libellé du support","allowEmptyValue":false},"lienDic":{"type":"boolean"},"logo":{"type":"string"},"minInvestissement":{"type":"number"},"optionActive":{"type":"boolean"},"specifique":{"type":"boolean","example":false,"description":"Flag indication de fonds specifique","allowEmptyValue":false},"typeMinInvestissement":{"type":"string"},"typeSupport":{"type":"string","description":"Type du support","allowEmptyValue":false,"enum":["FONDS_EURO","SCPI","PRODUIT_STRUCTURE","OPC","AUTRE","OPC_AUTRE","UP","UC","ETF"]},"urlExterne":{"type":"string"}},"title":"SupportDto","description":"conteneur léger du support"},"ThematiqueRecuperationDto":{"type":"object","properties":{"code":{"type":"string"},"favori":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"libelle":{"type":"string"},"profilsInvestissement":{"type":"array","items":{"$ref":"#/definitions/ProfilInvestissementDto"}}},"title":"ThematiqueRecuperationDto"},"TrClasseActifDto":{"type":"object","properties":{"code":{"type":"string","description":"Code de la classe d'actif ","allowEmptyValue":false},"codeCouleur":{"type":"string","description":"le type de conformité","allowEmptyValue":false},"libelle":{"type":"string","description":"le type de conformité","allowEmptyValue":false},"seuilCheck":{"type":"boolean","example":false,"description":"Seuil Check","allowEmptyValue":false}},"title":"TrClasseActifDto"},"TrHorizonInvestissement":{"type":"object","required":["code"],"properties":{"code":{"type":"string"},"libelle":{"type":"string"}},"title":"TrHorizonInvestissement"},"TrIndicatifDto":{"type":"object","required":["code","codePays","libelle"],"properties":{"code":{"type":"string","description":"Code indicatif","allowEmptyValue":false},"codePays":{"type":"string","description":"Identifiant du pays","allowEmptyValue":false},"libelle":{"type":"string","description":"Indicatif du téléphone ","allowEmptyValue":false}},"title":"TrIndicatifDto"},"TrOptionArbitrageDto":{"type":"object","required":["minimumDesinvestissement","minimumInvestissement","seuilDeclenchement"],"properties":{"description":{"type":"string"},"durees":{"type":"array","items":{"$ref":"#/definitions/DureeDto"}},"estRepartitionsSourcesEnMontant":{"type":"boolean"},"estRepartitionsSourcesEnSeuilNegatif":{"type":"boolean"},"fondsEuroCibleInterdit":{"type":"boolean"},"gratuit":{"type":"boolean"},"icon":{"type":"string"},"libelle":{"type":"string","description":"Libellé de l''option : ( Lissage des investissements, Ecrêtage des plus values, Arrêt des moins values relatives)","allowEmptyValue":false},"minimumDesinvestissement":{"type":"number","description":"Seuil de déclenchement (nécessaire pour écrêtage des plus values et arrêt des moins values relatives )","allowEmptyValue":false},"minimumInvestissement":{"type":"number","description":"Minimum d''investissement sur un support (concerne uniquement le lissage)","allowEmptyValue":false},"periodicites":{"type":"array","items":{"$ref":"#/definitions/PeriodiciteDto"}},"seuilDeclenchement":{"type":"number","description":"Minimum de désinvestissement de l''option ","allowEmptyValue":false},"type":{"type":"string","description":"Libellé de l''option : ( Lissage des investissements, Ecrêtage des plus values, Arrêt des moins values relatives)","allowEmptyValue":false,"enum":["LISSAGE","ECRETAGE","ARRET"]}},"title":"TrOptionArbitrageDto"},"TrProfilFinancierDto":{"type":"object","properties":{"contexteBanque":{"type":"boolean"},"description":{"type":"string"},"fourchetteVolatiliteMax":{"type":"number"},"fourchetteVolatiliteMin":{"type":"number"},"libelle":{"type":"string"},"profil":{"type":"string"}},"title":"TrProfilFinancierDto"},"TypeContratDto":{"type":"object","required":["code"],"properties":{"code":{"type":"string"},"libelle":{"type":"string"}},"title":"TypeContratDto"},"TypePatrimoineOuRevenuDto":{"type":"object","required":["categorie","code","enveloppe","infobulle","libelle","precision"],"properties":{"categorie":{"type":"string","description":"La categorie du type patrimoine (Financier ou Immobilier)","allowEmptyValue":false},"code":{"type":"string","description":"Code des données de référence","allowEmptyValue":false},"enveloppe":{"type":"string","description":"Un regroupement de type du patrimoine","allowEmptyValue":false},"infobulle":{"type":"string","description":"Infobulle","allowEmptyValue":false},"libelle":{"type":"string","description":"Libellé des données de référence ","allowEmptyValue":false},"precision":{"type":"boolean","example":false,"description":"Précision pour le type de revenu Autres","allowEmptyValue":false}},"title":"TypePatrimoineOuRevenuDto"},"TypeSouscriptionDto":{"type":"object","properties":{"code":{"type":"string"},"estParDefaut":{"type":"boolean"},"estVisiblePersonneMorale":{"type":"boolean"},"estVisiblePersonnePhysique":{"type":"boolean"},"libelle":{"type":"string"},"macroType":{"type":"string"},"propSouscription":{"type":"boolean"},"tiersMineur":{"type":"boolean"},"typePersonne":{"type":"string","enum":["PP","PM","TOUS"]},"typesComptesTitresExclus":{"type":"array","items":{"type":"string"}}},"title":"TypeSouscriptionDto"},"UserDTO":{"type":"object","properties":{"devoirConseil":{"type":"boolean"},"firstName":{"type":"string"},"id":{"type":"integer","format":"int64"},"lastName":{"type":"string"},"login":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}}},"title":"UserDTO"},"VersementMinDto":{"type":"object","properties":{"minVersementProgrammeAnnuel":{"type":"number","example":4.56,"allowEmptyValue":false},"minVersementProgrammeMensuel":{"type":"number","example":4.56,"allowEmptyValue":false},"minVersementProgrammeSemestriel":{"type":"number","example":4.56,"allowEmptyValue":false},"minVersementProgrammeTrimestriel":{"type":"number","example":4.56,"allowEmptyValue":false},"versementInitialMinimum":{"type":"number","example":4.56,"allowEmptyValue":false}},"title":"VersementMinDto"},"VilleDto":{"type":"object","required":["code","libelle"],"properties":{"ancienLibelle":{"type":"string","description":"Ancien libellé de la ville.","allowEmptyValue":false},"code":{"type":"string","description":"Code INSEE de la ville. <br/> Si le pays de naissance est différent de France alors mettre le code \"99999\".","allowEmptyValue":false},"departement":{"type":"string","description":"Code département INSEE","allowEmptyValue":false},"libelle":{"type":"string","description":"Nom de la ville. <br/> Si le pays de naissance est différent de France alors le nom de la ville est obligatoire.","allowEmptyValue":false},"rechercheExacte":{"type":"boolean","example":false,"description":"Correspondance exacte : flag à vrai si le nom de la ville correspond (aux majuscules, accents et \"-\" près).","allowEmptyValue":false}},"title":"VilleDto"},"la liste des supports":{"type":"object","properties":{"data":{"type":"array","description":"La liste des supports de la catégorie","allowEmptyValue":false,"items":{"$ref":"#/definitions/SupportDetailDto"}},"name":{"type":"string","description":"La catégorie des supports","allowEmptyValue":false},"totalSupports":{"type":"integer","format":"int32","description":"Nombre de supports de la catégorie","allowEmptyValue":false}},"title":"la liste des supports"}}}